<div class="upload-zone">
	<div class="upload-zone-states">
		<div class="states">
			<div class="drag-and-drop-state">
				<div class="drag-and-drop-here">
					<span class="drag-and-drop-text"> Drag &amp; Drop </span>
				</div>
			</div>
			<div class="upload-state">
				<div class="drag-and-drop-icon"></div>
			</div>
		</div>
	</div>
</div>