<div id="rejectDeliverableForm" class="form-modal" >
	<div class="modal-header">
		<button type="button" class="close wm-icon-x" data-dismiss="modal" aria-hidden="true"></button>
		{{#if isAdminOrOwner}}
			{{#if activeOrComplete}}
				<h3 id="myModalLabel">Review/Reject Deliverables</h3>
			{{else}}
				<h3 id="myModalLabel">Review Deliverables</h3>
			{{/if}}
		{{else}}
			<h3 id="myModalLabel">View Your Deliverables</h3>
		{{/if}}
	</div>
	<div class="deliverables-big-preview">
		<div class="spinner-zone">
			{{> ../../../funcs/templates/spinner }}
		</div>
		<div class="image-container">
			<div class="asset-preview primary">
				{{> ../../../funcs/templates/deliverablePreviewTemplate includeUpdateButton=true}}
			</div>
			<div class="asset-preview secondary">
				{{> ../../../funcs/templates/deliverablePreviewTemplate includeUpdateButton=false}}
			</div>
		</div>
	</div>
	<div class="rejection-notes">
		<!--rejection-icon.jsp-->
		<h3>
			<svg version="1.1" class="rejection-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 12" enable-background="new 0 0 12 12" xml:space="preserve">
				<g>
					<path d="M10.8,2.5L11.3,2c0.4-0.4,0.4-0.9,0-1.3s-0.9-0.4-1.3,0L9.5,1.2C8.5,0.4,7.3,0,6,0C2.7,0,0,2.7,0,6
						c0,1.3,0.4,2.5,1.2,3.5L0.7,10c-0.4,0.4-0.4,0.9,0,1.3c0.2,0.2,0.4,0.3,0.7,0.3s0.5-0.1,0.7-0.3l0.4-0.4C3.5,11.6,4.7,12,6,12
						c3.3,0,6-2.7,6-6C12,4.7,11.6,3.5,10.8,2.5z M1.8,6c0-2.3,1.9-4.2,4.2-4.2c0.8,0,1.6,0.2,2.2,0.6L2.5,8.2C2.1,7.6,1.8,6.8,1.8,6z
						 M6,10.2c-0.8,0-1.6-0.2-2.2-0.6l5.7-5.7c0.4,0.6,0.6,1.4,0.6,2.2C10.2,8.3,8.3,10.2,6,10.2z"/>
				</g>
			</svg>
			Rejection Notes
		</h3>
	</div>
	<div class="modal-body">
		<div class="modal-thumbnail-carousel"></div>
		<div class="paging-buttons"></div>
	</div>
	<div class="confirmation-to-delete" style="display: none">
		<h4 class="title">Are you sure you want to delete this file?</h4>
		{{#if isAdminOrOwner}}
		<div class="body">
			<p>
				<strong>Note</strong>: if you need to request an updated file from the assigned worker,
				<strong>consider <a href="#" class="switch-to-reject">Rejecting</a> the deliverable instead of deleting it.</strong>
				This has the following added benefits:
			</p>
			<ul>
				<li>allows you to specify the issue and notifies the worker</li>
				<li>adds a "Rejected" flag to the deliverable</li>
				<li>adds a "Deliverable Rejected" label to the assignment</li>
				<li>enables side-by-side comparison of the updated file once provided</li>
			</ul>
			<a href="#" class="switch-to-reject"><strong>Use Reject instead</strong></a>
		</div>
		{{/if}}
		<div class="actions">
			<button class="cancel-deletion-of-asset action">Cancel</button>
			<button class="delete-file action">Delete File</button>
		</div>
	</div>
</div>
