<div class="error-notifications" style="display: none;">
	<div class="errors"></div>
</div>
<div class="shortcutRejectDeliverableModalBody">
	<p>When you reject a deliverable, the worker is notified and your rejection reason is provided.</p>
	<textarea class="shortcutRejectDeliverableModalReason required" placeholder="Please input your reason for rejecting the file" name="rejection_reason" maxlength="200"></textarea>
</div>
