<div>
	<span id="all_workers" class="resources" style="margin-right:20px"><img src="{{mediaPrefix}}/images/map/worker_invite_small.png"/> All {{all}}</span>
	<span id="applied_workers" class="resources" style="margin-right:20px"><img src="{{mediaPrefix}}/images/map/worker_applied_small.png"/> Applied {{applied}}</span>
</div>
