.tile {
	box-sizing: border-box;;
	@include span(3);
	box-shadow: 0 5px 5px rgba(0,0,0,0.3);
	border-radius: 3px;
	position: relative;
	background-color: $white;
	cursor: pointer;

	&:last-of-type { @include omega; }

	&:hover { text-decoration: none; }

	a {
		text-decoration: none;
		display: block;
		cursor: pointer;

		&:hover { text-decoration: none; }
	}
	small {
		color: $charcoal-grey;
		font-size: 100%;
	}
	hr {
		border: 0;
		border-top: 2px solid $orange;
		font-weight: 500;
	}
	.ribbon {
		top: 14px;
		right: -6px;
		font-size: 0.8em;
		color: $dark-grey;
		box-shadow: 0 3px 5px rgba(0,0,0,0.3);
		-webkit-text-stroke: 0.3px darken($dark-grey, 10%);
		background-color: $blue;
		border-bottom-right-radius: 0;

		&::after { border-color: darken($blue, 20%) transparent transparent transparent; }
	}
	.tile-content {
		padding: 2em 1em 0.5em;
		text-align: center;
		min-height: 19em;

		img, svg {
			margin: 0 auto;
			height: 4em;
			width: 4em;
		}

		&--text-link {
			display: inline;
		}
	}
	.title-content, h2 {
		height: 100%;
		font-weight: 500;
		margin-top: 0;
		color: $charcoal-grey;
		font-size: 1.5em;
	}
	.tile-form {
		cursor: text;

		input {
			box-sizing: border-box;;
			width: 100%;
			color: $charcoal-grey;
			padding: 0.3em 0.5em;
			margin: 0.5em auto 1em;
			background-color: $white;
			border: 1px solid $light-grey;
			line-height: normal;
			height: auto;
			border-radius: 3px;
			box-shadow: none;
			@include placeholder {
				color: $charcoal-grey;
			}

			&:focus {
				color: $orange;
				border-color: $orange;
				outline: -webkit-focus-ring-color auto 5px;
				outline-offset: -2px;
				outline-color: lighten($orange, 15%);
				box-shadow: none;
			}
		}
	}
	.tile-cta {
		position: absolute;
		bottom: 1em;
		right: 1em;
		left: 1em;
		padding: 0.8em .3em;
		font-size: 1em;
		display: block;
		text-align: center;
		@include button-base;
	}
	.count-box {
		background-color: lighten($light-grey, 10%);
		border-radius: 3px;
		padding: 0.2em .7em;
		text-align: right;
		font-weight: normal;
		color: $charcoal-grey;
		margin: .5em 0;
		text-shadow: none;
		-webkit-font-smoothing: antialiased;
		text-decoration: none;
	}
	.currency {
		color: $green;
		font-weight: 600;
	}
}
