<div class="button uploader-button qq-upload-button">
	<div class="input"></div>
	<i class="wm-icon-upload"></i>
	<span class="upload-files">Upload New Document</span>
</div>
<div class="qq-upload-drop-area"></div>
