<div class="row">
	<div class="span5">
		<div class="compliance-rules-form"></div>
	</div>
	<div class="span1">
		<div class="segue">
			<i class="icon-arrow-right icon-4x muted"></i>
		</div>
	</div>
	<div class="span5">
		<div class="compliance-rules-cart"></div>
		<div class="compliance-rules-save"></div>
	</div>
</div>
<hr />
