<div id="bulk-add-label">
	<input type="hidden" name="assignment_id_label" id="assignment_id_label"/>

	<div id="add_note_container_labels"></div>
	<div id="add_note_container_schedule"></div>
</div>
