<input type="hidden" name="assignment_ids_remove_attachments" id="assignment_ids_remove_attachments"/>

<div id="assets">
	<div class="message"></div>
	<div class="general-assets">
		<ul></ul>
	</div>
	<div class="wm-action-container">
		<button type="button" id="fileupload_done" data-modal-close class="button">Finished</button>
	</div>
</div>
