<div id="bulk-download-modal">
	<input type="hidden" name="assignment_id_download" id="assignment_id_download"/>

	<p>We will package up all the attachments associated with the already selected assignments. Click send below to start.</p>

	<div class="wm-action-container">
		<button class="button" data-modal-close>Close</button>
		<button id="download_assets" class="button">Send</button>
	</div>
</div>
