<div id="bulk_edit_projects_container">
	<p>You are about to update the selected assignments with the following client / project</p>

	<div class="control-group">
		<label>Client:</label>
		<select name="client_id"></select>
	</div>

	<div class="control-group">
		<label>Project:</label>
		<select name="project_id" disabled="disabled">
			<option>Select</option>
		</select>
	</div>

	<div class="wm-action-container">
		<button class="button" data-modal-close>Close</button>
		<button id="do_update_project" class="button">Update Projects</button>
	</div>
</div>
