<div id="remove_label_container">
	<input type="hidden" name="assignment_id_label" id="remove_assignment_id_label"/>
	<div id="remove-all-labels-alert" class="dn alert alert-error"></div>

	<div id="label-remove-form-container"></div>
</div>
