<table id="calendar-popover-custom-content">
	<tbody>
		<tr>
			<td>
				<p>{{custom_copy}} <span class="third-party-logo -inline -square -intuit-qb"></span> <a href={{detail_url}} target="_blank">{{custom_cta}}</a></p>
			</td>
		</tr>
	</tbody>
</table>
