<div class="qq-uploader">
	<div class="qq-upload-drop-area"><span>Drop attachment here to upload</span></div>
	<a href="javascript:void(0);" class="qq-upload-button button" style="color: white;">Choose File</a>
	<ul class="qq-upload-list"></ul>
</div>
