{
"message": "Assignment ${template.work.title} still available. ${template.address} (${template.distanceInMilesToWork} miles) - ${template.date}#if($showPrice) - ${template.price}#end",
"action": "${baseurl}/assignments/details/${template.work.workNumber}"
}