{
"message": "${template.resource.firstName} ${template.resource.lastName} has checked in to the assignment: ${template.work.title}",
"action": "${baseurl}/assignments/details/${template.work.workNumber}"
}
