{
"message": "${template.workTitle} Cancelled. #if ($showPricing && $template.work.fulfillmentStrategy.amountEarned) You earn ${number.currency($template.work.fulfillmentStrategy.amountEarned)} #else Call ${template.work.buyer.firstName} ${template.work.buyer.lastName} at ${template.work.buyer.profile.workPhone} with questions #end",
"action": "${baseurl}/assignments/details/${template.work.workNumber}"
}
