#fk-popovercontainer {
	font-family: @default-font;
	background: whitesmoke;
	border: none;
	color: @dark-gray;
	.popover {
		background: whitesmoke;
		border: none;
	}
	.fkbtn {
		background-color: @bright-green;
		color: white;
		border-color: transparent;
	}
	.close {
		opacity: 1;
		color: @gray;
	}
	.arrow {
		border-bottom-color: whitesmoke;
		&:after {
			border-bottom-color: whitesmoke;
		}
	}
	textarea.form-control {
		border: 1px solid @light-gray ;
		.box-shadow(none);
	}
}