.popup-background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	.opacity(.8);

	&.active {
		display: block;
	}
}

.popup-content {
	display: none;
	position: fixed;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	.border-radius(@base-border-radius * 2);

	&.active {
		display: block;
	}

	.confirmation-message {
		margin-top: 2em;
	}

	form {
		margin-top: 1em;
	}
}