To add users to your account you must update your tax information to use a EIN.
<div class="wm-action-container">
	<button type="button" class="button" data-modal-close>Cancel</button>
	<button id="edit-tax-info-btn" class="button -primary" data-modal-close data-modal-accept=true>Edit Tax Info</button>
</div>