This is the only user in your organization with the Team Agent role.  If you remove it, your company will be removed from search listings.
<div class="wm-action-container">
	<button type="button" class="button" data-modal-close>Cancel</button>
	<button id="remove-dispatcher-role" class="button -primary" data-modal-close data-modal-accept=true>Accept</button>
</div>
