<div class="qq-upload-button">
	<p> Drag files here or browse your <span style="color:#0088cc">computer to upload</span></p>
</div>
<div class="qq-upload-drop-area" style="background:none;cursor:pointer;"></div>
