{{> _worker-service-page-header additionalCopy="Insureon" back=true }}

<section class="worker-services">

	<article class="worker-services--service -overview -insureon">
		{{> _worker-service-overview-logo }}
		<div class="copy">
			<p>Purchase liability and worker compensation insurance to cover you in cases of bodily injuries or damages on the job.</p>
			<a
				class="button"
				href="https://www.workmarket.com/profile-edit/insureon"
				target="_blank"
			>
				Buy Now
			</a>
		</div>
	</article>

	<article class="worker-services--service -detail">
		<h1>Work Market has partnered with Insureon to help you meet your business liability insurance needs.</h1>
		<p>To receive your complimentary insurance quotes, you will be asked to fill out Insureon's online application, which includes questions about your business operations, the risks you face, and the type of insurance you're interested in purchasing. Once you've completed the application, you will receive insurance policy quotes in your email inbox.</p>
	</article>

</section>