{{> _worker-service-page-header additionalCopy="Intuit QuickBooks" back=true }}

<section class="worker-services">

	<article class="worker-services--service -overview -intuit">
		{{> _worker-service-overview-logo }}
		<div class="copy">
			<p>Subscribers find an average of $3,809 in tax savings per year!</p>
			<a
				class="button"
				href="https://selfemployed.intuit.com/workmarket?utm_source=workmarket&utm_medium=IPD&utm_content=serviceprofile&cid=IPD_workmarket_serviceprofile_QBSE&utm_email={{email}}"
				target="_blank"
			>
				Subscribe
			</a>
		</div>
	</article>

	<article class="worker-services--service -detail">
		<h1>Overwhelmed by self-employment taxes? QuickBooks Self-Employed can help you…</h1>
		<p>Easily separate your work and personal expenses in one place.</p>
		<p>Fill out your Schedule C and maximize your tax deductions.</p>
		<p>Calculate your quarterly estimated taxes to lower your annual tax bill and update your total financial picture.</p>
	</article>

</section>
