{{> _worker-service-page-header additionalCopy="Simplilearn" back=true }}

<section class="worker-services">

	<article class="worker-services--service -overview -simplilearn">
		{{> _worker-service-overview-logo }}
		<div class="copy">
			<p>Take the next step in your career with courses and certifications from Microsoft, Google, Hadoop, MongoDB, Salesforce, Java and more.</p>
			<a
				class="button"
				href="https://goo.gl/Vd6sjf"
				target="_blank"
			>
				Learn More
			</a>
		</div>
	</article>

	<article class="worker-services--service -detail">
		<h1>Simplilearn is one of the world's leading certification training providers.</h1>
		<p>We partner with companies and individuals to address their unique needs, providing training and coaching that helps professionals achieve their career goals. A pioneer in online education for professionals, we create course programs, exams, and lab projects that help professionals around the world successfully prepare and complete certification exams with ease. We also assist our learner in applying for the certifications exams of their choice. Simplilearn uses a unique blended training model that bring together the best of self-paced learning and online training, creating a successful learning experience. The courses are continually upgraded to ensure our learners are up-to-date on the latest industry requirements and best practices.</p>
		<p>15% off any course which does not include a certification/exam</p>
	</article>

</section>