{{> _worker-service-page-header additionalCopy="Background Check" back=true }}

<section class="worker-services">
	<article class="worker-services--service -overview -sterling-background-check">
		{{> _worker-service-overview-aggregate-header icon="checkmark-circle" copy="Background Check" }}

		<div class="copy">
			<p>Verify your address, name and social security number as well as conduct a full background check.</p>
			<a class="button" href="/screening/bkgrnd">Order</a>
		</div>
	</article>
	<article class="worker-services--service -detail">
		<h1>Fact: Workers with a background check make lots more money.</h1>
		<p>For just $40, you tell potential employers that you are trustworthy and will start getting more work. Your credit card details will be collected on the next screen.</p>
		<p>Work Market has partnered with Sterling to provide background screening tools for the people on our network.</p>
		<p>With your permission, Work Market will initiate the drug screening process that requires you to physically visit a drug testing facility and provide a specimen for testing. Sterling will provide details on testing locations near you, required procedure and paperwork to successfully complete the drug test.</p>
		<p>If the results of your background check are "CLEAR", meaning there are no infractions of any kind in your report, you will receive a status and  icon on your Work Market profile indicating that you passed this background check.</p>
		<p>You will therefore rank higher on our people searches, be eligible to join more client groups and get more work from clients on Work Market.</p>
		<p>If the results of your background check include any infractions, you will have the opportunity to view your report and contest the results with Sterling.</p>
		<p>Work Market handles your private information with the highest security standards. Data entered here that was not already part of your profile is provided securely to Sterling and is not saved with your profile going forward.</p>
		<p>To learn more about background checks and what the passing requirements are, click <a href="https://workmarket.zendesk.com/hc/en-us/articles/219423957" target="_blank"> here.</a></p>
	</article>
</section>
