{{> _worker-service-page-header additionalCopy="Health Insurance" back=true }}


<section class="worker-services">

	<article class="worker-services--service -overview -stride">
		{{> _worker-service-overview-logo }}
		<div class="copy">
			<p>Health care built for independents. Simple tools that help you save money and manage your healthcare.</p>
			<div class="stride-actions">
				<button class="button stride-start">Find Your Plan</button>
				<div class="stride-loading">{{> ../../funcs/templates/spinner}}</div>
			</div>
			<small>(US workers only)</small>
			<p>Want to learn more? Check out the <a class="stride-guide">insurance guide</a>.</p>
		</div>
	</article>

	<article class="worker-services--service -detail">
		<h1>Find a better health plan in 10 minutes or less</h1>
		<p>A personal forecast ensures you'll never overpay for a plan.</p>
		<h2>Access doctors, urgent care, and pharmacy deals</h2>
		<p>Unlock the best care, you’re already paying for it!</p>
		<h2>Take control of your finances</h2>
		<p>Personalized recommendations for keeping more of what you earn.</p>
		<h2>We’ve got your back</h2>
		<p>Our agents and tax specialists are here to support you year-round.</p>
	</article>

</section>
