<div class="stride-permission-modal">
	<p>Work Market would like to share the following information with Stride Health in order to personalize your experience and find health plans in your region:</p>
	<ul>
		<li>Email Address</li>
		<li>Zip Code</li>
	</ul>
	<p>This information will not be used for any marketing purposes.</p>
</div>
