{{#if active}}<span class="active">{{/if}}
{{#[../../helpers/eq] name 'graph'}}
		<svg class="icon-graph" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16 18" enable-background="new 0 0 16 18" xml:space="preserve">
		<image class="icon__shadow" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAYCAYAAAD+vg1LAAAACXBIWXMAAAsSAAALEgHS3X78AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAelJREFUeNq0ldlOwzAQReM2aQO0lJ0HViGE2CkSr/w8T/wAAsomsYl9q0pLgIQ76DoyEXFaJCwdxfFybc+MPcqxF2WgS2RgnZhWcsAFPvD4L2LvoAU++K9+W9C1LCh9fWAMDHMBEXsA5+DFWNwxFpRvaBP2KFglQ+AN7INtcMOF+znnHpzxG7gponnQBQbBDFgD46DJ/lNQBstglvNqYAs0ZNdJYREscJKYYJ4TR0GPHJEnKXLcAlg3fLLDfuUmRLspMk3RKncagEvwCC5AHfSCkmGKMhfLmc7L8eiyy1UKToEKeKaznojY+Jbjtdm0RhxlbiICxJ4rFJWwOaGYDqMmPR9mxH+84zzt5nPyAbgCdzyuOGmSgkWKe7Z7oIU/abdj7lDHqwgtgRGwyLEBoyJTOKJAkzts8F/vKqI9K5xTopNUlim0A8TLE4xdhxHwSvF8mpOyhH2KboI59h0xLv12hNKEPe5UYneDfR4d6P1VWB9P37hkwHcsmnzdFBfoyJa2N/dfipvIDCFj2mE9MuqdtMfCIQO/zjBzWG8Z9XbaA33dXSPdyAO9Z7wDh4wKKbscY2uvUUP+I50oCww384LIlb5mXZ7SgYz2HxlEGU70jMSpc1jAeqHN9jjnKUuqN1N8J+3ffV8CDACZ2peZC9axgQAAAABJRU5ErkJggg==" transform="matrix(1 0 0 1 -3 -3)"></image>
		<path class="icon-graph__third icon--base" d="M12,1.858v15.19c0,0.224,0.223,0.405,0.498,0.405h1.998c0.275,0,0.498-0.181,0.498-0.405V1.858c0-0.224-0.223-0.405-0.498-0.405h-1.998C12.223,1.453,12,1.634,12,1.858z"/>
		<path class="icon-graph__second icon--base" d="M6,6.858v10.19c0,0.224,0.223,0.405,0.498,0.405h1.998c0.275,0,0.498-0.181,0.498-0.405V6.858c0-0.224-0.223-0.405-0.498-0.405H6.498C6.223,6.453,6,6.634,6,6.858z"/>
		<path class="icon-graph__first icon--base" d="M0,10.858l0,6.19c0,0.224,0.223,0.405,0.498,0.405h1.998c0.275,0,0.498-0.181,0.498-0.405v-6.19c0-0.224-0.223-0.405-0.498-0.405H0.498C0.223,10.453,0,10.634,0,10.858z"/>
		<polygon class="icon-graph__arrow icon--highlight" points="0.346,6.453 7.399,3.001 8.149,4.102 9.5,0 5.373,0 6.124,1.175"/>
	</svg>
{{/[../../helpers/eq]}}

{{#[../../helpers/eq] name 'team-agent'}}
		<svg class="icon-team-agent" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
		<g id="blue_dot_54_">
			<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="12" x2="24" y2="12">
				<stop  offset="0" style="stop-color:#0A9FF3"/>
				<stop  offset="1" style="stop-color:#158BE8"/>
			</linearGradient>
			<circle fill="url(#SVGID_1_)" cx="12" cy="12" r="12"/>
		</g>
		<circle id="wh_dot_52_" fill="#FFFFFF" cx="12" cy="12" r="9"/>
		<g>
			<path fill="#118FCE" d="M9.8,15.7H8.2V9.6h-2V8.3h5.7v1.3h-2V15.7z"/>
			<path fill="#118FCE" d="M17.1,15.7L16.5,14h-2.7l-0.5,1.8h-1.7l2.6-7.5h1.9l2.7,7.5H17.1z M16.2,12.6c-0.5-1.6-0.8-2.5-0.8-2.7 c-0.1-0.2-0.1-0.4-0.1-0.5c-0.1,0.4-0.4,1.5-1,3.2H16.2z"/>
		</g>
	</svg>
{{/[../../helpers/eq]}}
{{#[../../helpers/eq] name 'internal'}}
		<svg version="1.1" class="icon-internal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
	<g>
		<path opacity="0.68" fill="#4C5355" d="M15.8,10c0-0.3,0-0.7,0-1.1c0-0.3,0-0.5,0-0.8C15.8,5.8,14,4,11.7,4C9.5,4,7.7,5.8,7.7,8.1
		c0,0.8,0,1.4,0,1.9H9c0-0.5,0-1.1,0-1.9c0-1.5,1.3-2.8,2.8-2.8c1.5,0,2.8,1.3,2.8,2.8c0,0.3,0,0.6,0,0.8c0,0.4,0,0.7,0,1.1H15.8z"
		/>
		<path fill="#4C5355" d="M7.1,10c-0.5,0-0.9,0.4-0.9,0.9v6.4c0,0.5,0.4,0.9,0.9,0.9h9.2c0.5,0,0.9-0.4,0.9-0.9v-6.4
		c0-0.5-0.4-0.9-0.9-0.9H7.1z M12.6,14.1v2.3c0,0.3-0.2,0.5-0.5,0.5h-0.7c-0.3,0-0.5-0.2-0.5-0.5v-2.3c-0.4-0.3-0.7-0.7-0.7-1.3
		c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5C13.3,13.3,13,13.8,12.6,14.1z"/>
	</g>
</svg>

{{/[../../helpers/eq]}}
{{#[../../helpers/eq] name 'assigned-worker'}}
		<svg version="1.1" class="icon-assigned-worker" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
	<g>
		<path opacity="0.68" fill="#4C5355" d="M18.1,9.9l0-1.7C18.1,8.1,18,8,17.8,8l-0.7,0c-0.1,0-0.2,0.1-0.2,0.2l0,1.7l-1.7,0
			c-0.1,0-0.2,0.1-0.2,0.2l0,0.7c0,0.1,0.1,0.2,0.2,0.2l1.7,0l0,1.7c0,0.1,0.1,0.2,0.2,0.2l0.7,0c0.1,0,0.2-0.1,0.2-0.2l0-1.7l1.7,0
			c0.1,0,0.2-0.1,0.2-0.2l0-0.7c0-0.1-0.1-0.2-0.2-0.2L18.1,9.9z"/>
		<path fill="#4C5355" d="M10.7,7c-1.4,0-2.5,1.3-2.5,3.1c0,0.9,0.4,1.8,1,2.5l0.2,0.2l-0.3,0.1c-0.7,0.2-1.5,0.6-2.3,1.1
			C6,14.5,5,15.3,5,15.5v1C5,16.8,5.2,17,5.5,17h10.3c0.3,0,0.5-0.2,0.5-0.5v-1c-0.1-0.3-2-1.8-4.1-2.5l-0.3-0.1l0.2-0.2
			c0.7-0.7,1-1.7,1-2.6C13.2,8.3,12.1,7,10.7,7z"/>
	</g>
	</svg>
{{/[../../helpers/eq]}}
{{#[../../helpers/eq] name 'public'}}
		<svg version="1.1" class="icon-public" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
	<path fill="#4A4748" d="M12,4c1.1,0,2.1,0.2,3.1,0.6s1.8,1,2.5,1.7c0.7,0.7,1.3,1.6,1.7,2.6c0.4,1,0.6,2,0.6,3.1
		c0,1.1-0.2,2.1-0.6,3.1c-0.4,1-1,1.8-1.7,2.5c-0.7,0.7-1.6,1.3-2.5,1.7c-1,0.4-2,0.6-3.1,0.6c-1.1,0-2.1-0.2-3.1-0.6
		c-1-0.4-1.8-1-2.5-1.7c-0.7-0.7-1.3-1.6-1.7-2.5c-0.4-1-0.6-2-0.6-3.1c0-1.1,0.2-2.1,0.6-3.1c0.4-1,1-1.8,1.7-2.6
		c0.7-0.7,1.6-1.3,2.5-1.7C9.9,4.2,10.9,4,12,4 M8.8,5.7C8.5,5.7,8.3,5.8,8,6C7.7,6.2,7.4,6.4,7.2,6.7C6.9,7,6.6,7.3,6.4,7.6
		C6.2,7.8,6,8.1,5.9,8.1h0c0,0,0.1,0.1,0.1,0.1c0.1,0,0.1,0,0.1,0.1c0,0,0,0.1,0,0.1c0,0,0,0.1,0.1,0.1c0,0,0,0,0.1-0.1c0,0,0,0,0,0
		L6.2,8.6v0c0,0,0.1,0.1,0.1,0.1c0,0,0,0,0,0.1c0,0,0.1,0.2,0.1,0.2h0.1l0-0.2l0,0c0,0,0,0.1,0.1,0.1c0,0,0.1,0.1,0.1,0.1h0
		c0-0.1,0-0.1,0-0.1c0,0,0,0,0,0.1L7,9v0L7,9.3c0,0,0,0.1,0,0.1c0,0,0,0.1-0.1,0.1c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1
		c0,0-0.1,0-0.2,0c0,0,0,0-0.1,0c0,0,0,0,0,0.1l0.1,0.3l0,0l0,0c-0.1,0-0.1,0.1-0.1,0.2c0,0.2,0,0.3,0,0.3l0,0.2L7,10.4v0l-0.4,0.2
		L7,11.5H7c0-0.4,0-0.3,0-0.3c0,0,0,0.1,0,0.1l0.1,0.1c0,0.1,0,0.1,0,0.1c0,0,0.1,0.1,0.1,0.1c0,0.1,0.1,0.2,0.2,0.2
		C7.6,11.9,7.7,12,7.7,12c0.1,0.2,0.1,0.3,0.2,0.5c0.1,0.2,0.2,0.3,0.3,0.4l0,0.1c0,0,0,0-0.1,0s0,0,0,0.1l0.2,0.1c0,0,0.1,0,0.1,0.1
		c0,0.1,0.1,0.1,0.1,0.2l0,0.1l0.1,0.2l0.1,0l0-0.1c0-0.1-0.1-0.2-0.1-0.3c-0.1-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.1-0.2-0.2-0.3
		c0-0.1-0.1-0.1-0.1-0.1c0,0,0-0.1,0-0.2c0-0.1,0-0.1,0-0.2c0,0,0.1,0.1,0.2,0.1c0.1,0,0.1,0.1,0.1,0.1c0,0.2,0.1,0.3,0.2,0.4
		c0.1,0.1,0.2,0.2,0.3,0.3c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0,0,0,0.1,0,0.1c0.1,0.1,0.2,0.3,0.4,0.4c0.2,0.2,0.2,0.3,0.2,0.4v0l-0.1,0.1
		c0,0.1,0.1,0.2,0.2,0.3c0.1,0.1,0.2,0.1,0.3,0.3h0c0.1,0,0.3,0,0.4,0.1c0.1,0.1,0.3,0.1,0.4,0.2l0.2-0.1c0.1,0,0.1,0,0.2,0.1
		c0.1,0.1,0.1,0.1,0.2,0.2c0.1,0.1,0.2,0.1,0.3,0.2c0.1,0.1,0.2,0.1,0.4,0.1c0.1-0.1,0,0,0,0v0l0.4,0.3l0,0.1c0.1,0,0.1,0.1,0.2,0.2
		c0.1,0.1,0.1,0.1,0.2,0.2h0c0.1,0,0.1,0,0.2,0c0,0.1,0.1,0.1,0.2,0.1c0,0,0.1,0,0.1-0.1c0-0.1,0-0.2,0-0.2c0,0,0-0.1,0.1-0.1
		c0,0,0,0,0.1,0c0,0,0,0,0,0l0-0.1c0,0,0,0-0.1,0.1c0,0,0,0-0.1,0l-0.1,0.1l-0.2,0L12.8,16l0.1-0.6c0,0,0-0.1-0.1-0.1
		c-0.1,0-0.1-0.1-0.1-0.1c-0.1-0.1-0.2-0.1-0.3-0.1c0,0-0.1,0-0.2,0c-0.1,0-0.2,0-0.2,0c0,0,0-0.1,0-0.2c0-0.1,0-0.1,0.1-0.2
		c0-0.1,0-0.1,0.1-0.2c0-0.1,0-0.1,0-0.1l0.1-0.3l0,0l-0.2,0c0,0-0.1,0-0.1,0.1c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0.1-0.1,0.1-0.1,0.2
		c0,0.1-0.1,0.1-0.1,0.1l-0.4,0.1c-0.1,0-0.2,0-0.2-0.1c0-0.1-0.1-0.2-0.2-0.4c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.2,0-0.3,0.1-0.4
		c0.1-0.1,0-0.3-0.1-0.4c0,0,0,0,0.1,0c0,0,0,0,0-0.1l0.1-0.1l0,0l0,0c0.1-0.1,0.2-0.1,0.4-0.1c0.2,0,0.2,0,0.3-0.1l0.2,0.1
		c0,0,0.1,0,0.1,0c0,0,0.1-0.1,0.1-0.1l-0.1,0l0.4-0.1l0,0.1l0.2,0l0.2,0.1c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0l0.2,0.2
		c0,0.1,0,0.1,0,0.1c0,0,0,0.1,0,0.1c0,0,0,0.1,0.1,0.3c0.1,0.1,0.1,0.2,0.2,0.2c0.1,0,0.1,0,0.1-0.1c0-0.1,0-0.1,0-0.2
		c0-0.1,0-0.3-0.1-0.4c-0.1-0.1-0.1-0.3-0.4-0.4v-0.1c0-0.1,0.2-0.1,0.3-0.2c0.1-0.1,0.1-0.1,0.1-0.1c0.1-0.1,0.1-0.1,0.2-0.2
		c0.1-0.1,0.1-0.1,0.2-0.2l0-0.2v0h0.2c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0,0,0,0-0.1-0.1c0,0-0.1,0-0.1-0.1l0.1,0c0,0,0-0.1,0.1-0.2
		c0-0.1,0-0.1,0-0.2l0.2-0.1c0,0,0,0.1,0,0.1c0,0,0.1,0,0.1,0l0.1-0.2c0-0.1,0-0.1-0.1-0.1c0,0,0,0,0.1-0.1c0.1,0,0.1-0.1,0.2-0.1
		c0.1,0,0.1-0.1,0.2-0.1c0,0,0,0,0,0c0,0,0.1,0,0.1,0c0-0.1,0-0.1,0-0.1l0.1-0.2c0.1,0,0.2,0,0.2-0.1l0.2,0c0,0,0.2,0,0.2-0.1v0
		l0.2-0.1l0-0.1l-0.1-0.1c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0l0,0l0-0.3h0.1h0.1c0.1,0,0.1,0.3,0.1,0.2
		c0-0.1,0-0.1-0.1-0.1c-0.1,0-0.3,0-0.4,0.1c-0.2,0.1-0.3,0.2-0.3,0.3l-0.1,0.1l0.2-0.2l0-0.1c0,0,0,0-0.1-0.1c-0.1,0-0.1,0-0.1,0
		c0.1,0,0.2,0,0.3,0c0.1,0,0.1-0.1,0.2-0.1c0,0,0.1-0.1,0.1-0.1c0,0,0.1-0.1,0.2-0.1c0.2,0,0.3,0,0.4,0c0.1,0,0.3,0,0.4,0
		c0,0,0.1-0.1,0.1-0.1c0,0,0.1-0.1,0.1-0.1l0.2,0c0,0,0.1,0,0.1,0C17,8.6,17,8.6,17,8.5c0-0.1,0-0.1-0.1-0.1c-0.1,0-0.1-0.1-0.1-0.1
		c0,0,0,0,0-0.1c0,0,0,0,0,0c0,0-0.1,0-0.2,0.1c-0.1,0-0.2,0.1-0.2,0.1c0,0,0,0-0.1,0c0,0,0,0,0-0.1l0,0l0.1,0l0.2-0.1l0,0
		c0,0,0-0.1-0.1-0.1c-0.1,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.1,0l0,0c-0.1-0.1-0.2-0.1-0.2-0.2C16.1,7.7,16,7.6,16,7.6
		c0,0,0-0.1,0-0.1c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c0,0,0,0,0-0.1c0,0,0-0.1-0.1-0.2c0-0.1-0.1-0.1-0.1-0.1l-0.1,0.1c0,0,0,0.1-0.1,0.1
		c0,0-0.1,0-0.1,0h0l-0.2,0.2c0,0,0,0-0.1,0c0,0,0-0.2-0.1-0.2h0l0,0.2c0.1,0,0.1,0,0.1-0.1c0-0.1,0-0.1-0.1-0.1l-0.2,0c0,0,0,0,0,0
		c0,0,0,0,0,0c0,0,0,0,0-0.1c0,0,0-0.1,0-0.1c0,0,0,0-0.1,0c0,0,0,0,0,0.2h0.1l0.1-0.2c0,0,0,0,0-0.1c0,0,0-0.1-0.1-0.1l-0.2,0
		l-0.1-0.1c0,0,0,0-0.1,0c0,0-0.1-0.1-0.1-0.1l-0.2,0.1l-0.4-0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0.1c0,0,0,0,0,0.1c0,0,0,0,0,0.1
		c0,0,0,0.1,0,0.2c0,0.1,0,0.2-0.1,0.1l-0.1,0.1c0,0,0,0,0.1,0.1c0,0,0.1,0,0.1,0.1c0,0,0.1,0.1,0.1,0.1c0,0,0,0.1,0,0.2l-0.1,0.3v0
		c0,0.1-0.3,0.1-0.3,0.2c0,0,0.1,0.1,0.1,0.2c0.1,0,0.1,0.1,0.1,0.1c0,0,0,0-0.1,0.1c0,0-0.1,0-0.1,0.1c0,0-0.1,0-0.1,0s0,0.3,0,0.3
		h-0.1h0c0-0.3,0-0.3,0-0.3c0,0,0,0,0,0l-0.4-0.1v0L13,8.4c0-0.1,0-0.1,0-0.1c0,0,0-0.1,0-0.1C13,8,13,8,12.9,8s-0.2,0-0.3,0
		c0,0,0,0,0-0.1c0,0-0.1,0-0.1,0c-0.1,0-0.2,0-0.4-0.1c-0.1-0.1-0.3-0.1-0.4-0.1c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2,0c0,0,0,0,0.1-0.1
		l-0.1-0.2l0,0c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0c0-0.1,0-0.2,0.1-0.2c0-0.1,0.1-0.1,0.1-0.2
		c0,0,0-0.1,0-0.1c0,0,0,0,0,0c0.1,0,0.1,0,0.2,0c0.1,0,0.1-0.1,0.2-0.1l0-0.1c0,0-0.1,0-0.2-0.1c-0.1,0-0.2,0-0.2-0.1l0,0
		c0.1,0,0.2,0.1,0.3,0.1c0.1,0,0.1,0,0.2,0c0,0,0.1,0,0.2-0.1c0.1,0,0.2-0.1,0.3-0.1c0,0-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.3,0.3h0.1
		c0,0,0.1-0.4,0.1-0.4c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0.1c0,0,0.1,0,0.1,0l-0.2-0.1V6l0.3-0.1l0.2,0c0,0,0,0,0,0c0,0,0,0,0.1,0
		c0,0,0.1,0,0.1,0.1c0,0,0.1,0.1,0.1,0.1l0.2-0.1c0,0,0,0,0.1,0c0.1,0,0.1,0,0-0.1L13,5.6c0,0,0,0,0,0c0,0,0,0,0,0
		c0.1,0,0.1,0,0.1-0.1c-0.1,0-0.1-0.1-0.2-0.1c-0.1,0-0.1-0.1-0.2-0.1c0,0-0.1,0-0.1,0c0,0,0,0,0,0.1c0,0,0,0,0,0c0,0,0.1,0,0.1,0
		c0,0,0,0,0,0c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2,0.1c0,0.1-0.1,0.1-0.2,0.2c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0-0.1-0.1
		c0,0-0.1,0-0.1-0.1c0,0,0-0.1,0.1-0.1c0-0.1,0-0.1-0.1-0.1c-0.1,0-0.1,0-0.1,0.1c0,0,0,0.1-0.1,0.1l-0.2-0.3l-0.2,0
		c0-0.1,0-0.1,0-0.1c0,0,0-0.1-0.1-0.2c0,0-0.1-0.1-0.1-0.1c0,0-0.1,0-0.1,0c0,0,0,0-0.1,0C11,5,11,5,10.9,5.1c0,0-0.1,0.1-0.1,0.1
		c0,0,0,0.5,0.1,0.5h0c0,0-0.1-0.4-0.1-0.3c0,0,0,0,0.1,0c0.1,0,0.1,0,0.1,0c0,0,0,0,0.1,0c0,0,0,0,0.1,0l0,0v0.1c0,0,0,0,0,0l0,0.1
		l-0.2,0.1c0,0,0,0,0,0c0,0,0,0-0.1,0c0,0,0,0.1,0.1,0.1c0,0,0,0.1-0.1,0.1l-0.1,0c0-0.1-0.1-0.1-0.2-0.1c-0.1,0-0.2-0.1-0.4-0.1
		c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3,0-0.4,0L9.2,5.7l0.1,0.2c0,0,0,0-0.1,0c0,0,0,0,0,0.1c0,0-0.1-0.1-0.2-0.1C9,5.7,9,5.7,8.9,5.7
		L8.8,5.7z M10,5.2c0,0-0.1,0-0.1,0c0,0-0.1,0-0.1,0c0,0-0.1,0-0.2,0c-0.1,0-0.2,0.1-0.3,0.1c-0.1,0-0.2,0.1-0.3,0.1
		C9,5.5,8.9,5.5,8.9,5.5c0.1,0,0.2,0,0.3-0.1c0.1,0,0.2-0.1,0.2-0.1l0.1,0c0,0,0.1,0,0.1,0c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2,0l-0.2,0
		V5.4l0.3,0l0.1,0C10,5.4,10,5.3,10,5.2L10,5.2z M13.3,19C13.3,19,13.3,19.1,13.3,19c0.7-0.1,1.5-0.3,2.2-0.7
		c0.7-0.4,1.3-0.8,1.8-1.8h0c-0.1,0.4-0.1,0.4-0.1,0.4L17,17l-0.1-0.4h0l0,0.5l0-0.1c0-0.1-0.1-0.1-0.1-0.2l0,0c0,0,0,0,0,0.1
		c0-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.1-0.3-0.1c0,0,0,0.1,0,0.1h0h-0.1h0.1l0-0.2l-0.1-0.1l0,0c-0.1,0-0.2-0.1-0.2-0.2l0,0l0,0l0,0
		c-0.1,0-0.2,0.1-0.2,0.1c-0.1,0-0.1-0.1-0.2-0.1l-0.3,0c0,0,0-0.1,0-0.1c0,0-0.1-0.1-0.1-0.1c-0.1,0-0.1,0-0.2,0
		c-0.1,0-0.1,0.1-0.1,0.1c0,0,0,0.1,0,0.1c0,0,0,0-0.1,0.1v0.1l0.1,0.1l0,0.2h0l-0.1-0.3l0.1-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1
		l0-0.2h-0.1h-0.2h-0.1l0,0.3c0,0,0,0,0,0c0,0,0,0,0,0l0-0.4h-0.1c-0.1,0.4-0.1,0.4-0.1,0.5l0,0L14,16.3l0,0l-0.1,0c0,0,0,0,0,0
		c0,0-0.1,0-0.1,0v0v0.1v0v0l0,0c0-0.1-0.1-0.2-0.2,0h0.2v-0.2c-0.2,0-0.2,0.1-0.2,0.1c0,0,0.1,0.1,0.1,0.1c0,0,0,0-0.1,0
		c0,0,0.1,0,0.1,0v0v0.2v0.4l0,0.1c0,0.1-0.1,0.2,0,0.3v0l-0.2,0l0,0l0,0.1l0.2,0v0l-0.2,0l0,0.1l-0.1,0c0,0-0.1,0.1-0.1,0.1
		c0,0,0,0.1-0.1,0.1l0,0l-0.1,0.1c0,0,0,0,0,0.1c0,0,0,0,0,0.1l0,0.1l0.1,0l0,0l0-0.1l0,0.1c0,0,0,0.1,0,0.1c0,0-0.1,0.1-0.1,0.1
		c0,0-0.1,0.1-0.1,0.2C13.2,18.9,13.2,18.9,13.3,19C13.2,19,13.3,19,13.3,19"/>
	</svg>
{{/[../../helpers/eq]}}

{{#[../../helpers/eq] name 'fedex'}}
		<svg class="icon-fedex" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve">
	<path class="icon--base" d="M0,13.3h6.6v1.6H1.9V17h4.1v1.6H1.9v3.9H0V13.3z"/>
	<path class="icon--base" d="M12.3,15.8c0.5,0.2,0.9,0.6,1.2,1c0.3,0.4,0.5,0.9,0.5,1.4c0,0.3,0.1,0.8,0.1,1.4H9c0,0.7,0.3,1.2,0.7,1.5c0.3,0.2,0.6,0.3,1,0.3c0.4,0,0.7-0.1,1-0.3c0.1-0.1,0.3-0.3,0.4-0.5H14c0,0.4-0.3,0.8-0.7,1.2c-0.6,0.7-1.5,1-2.6,1c-0.9,0-1.7-0.3-2.4-0.8c-0.7-0.6-1.1-1.5-1.1-2.8c0-1.2,0.3-2.1,0.9-2.7c0.6-0.6,1.5-1,2.5-1C11.2,15.5,11.8,15.6,12.3,15.8zM9.6,17.4c-0.3,0.3-0.4,0.6-0.5,1.1h3.1c0-0.5-0.2-0.8-0.5-1.1c-0.3-0.2-0.6-0.4-1.1-0.4C10.2,17,9.8,17.1,9.6,17.4z"/>
	<path class="icon--base" d="M18.6,15.8c0.3,0.2,0.6,0.4,0.8,0.8v-3.3h3.5v9.3h-3.4v-1c-0.3,0.4-0.5,0.7-0.9,0.9c-0.3,0.2-0.7,0.3-1.2,0.3c-0.8,0-1.5-0.3-2-1c-0.5-0.7-0.8-1.5-0.8-2.5c0-1.2,0.3-2.1,0.8-2.8c0.5-0.7,1.3-1,2.2-1C17.9,15.5,18.3,15.6,18.6,15.8z M19.1,20.7c0.3-0.4,0.4-0.9,0.4-1.5c0-0.8-0.2-1.4-0.6-1.8c-0.3-0.2-0.6-0.3-0.9-0.3c-0.5,0-0.9,0.2-1.2,0.6s-0.4,0.9-0.4,1.5c0,0.6,0.1,1.1,0.4,1.5c0.3,0.4,0.6,0.6,1.1,0.6C18.4,21.3,18.8,21.1,19.1,20.7z"/>
	<path class="icon--highlight" d="M28.3,14.9h-4.9v2h4.5v1.6h-4.5v2.4h5.2v1.7h-7.1v-9.3h6.8V14.9z"/>
	<path class="icon--highlight" d="M29.2,22.6l2.4-3.5l-2.3-3.4h2.2l1.2,2l1.1-2h2.1L33.6,19l2.4,3.5h-2.2l-1.2-2.1l-1.2,2.1H29.2z"/>
</svg>
{{/[../../helpers/eq]}}

{{#[../../helpers/eq] name 'dhl'}}
		<svg class="icon-dhl" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve">
	<rect x="0" y="9.2" class="icon--base" width="36" height="18.8"/>
	<path class="icon--highlight" d="M36,21.8c-0.1,0-0.1,0-0.2,0c-1.7,0-3.4,0-5.1,0c0,0,0,0-0.1,0c0-0.1,0.1-0.1,0.1-0.2c0.1-0.2,0.1-0.2,0.3-0.2c1.6,0,3.2,0,4.9,0C36,21.5,36,21.6,36,21.8z"/>
	<path class="icon--highlight" d="M36,21.1c0,0-0.1,0-0.1,0c-1.5,0-3.1,0-4.6,0c0,0-0.1,0-0.1,0c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.2-0.1,0.3-0.1c1.4,0,2.9,0,4.3,0c0,0,0.1,0,0.1,0C36,20.8,36,21,36,21.1z"/>
	<path class="icon--highlight" d="M36,20.4C36,20.4,35.9,20.4,36,20.4c-1.5,0-2.8,0-4.2,0c0,0-0.1,0-0.1,0c0.1-0.1,0.1-0.1,0.1-0.2c0.1-0.2,0.1-0.2,0.4-0.2c1.3,0,2.6,0,3.9,0C36,20.2,36,20.3,36,20.4z"/>
	<path class="icon--highlight" d="M25.2,16.7c-0.1,0.1-0.1,0.2-0.2,0.3c-0.1,0.2-0.3,0.4-0.4,0.6c-0.3,0.4-0.6,0.8-0.9,1.2c-0.2,0.3-0.4,0.6-0.6,0.9c0,0.1-0.1,0.1-0.2,0.1c-0.4,0-0.7,0-1.1,0c-2.3,0-4.5,0-6.8,0c0,0-0.1,0-0.1,0c0-0.1,0.1-0.1,0.1-0.1c0.4-0.5,0.7-1,1.1-1.4c0.3-0.4,0.7-0.9,1-1.3c0.1-0.1,0.1-0.1,0.2-0.1c1,0,2,0,3.1,0c0,0,0.1,0,0.1,0c-0.4,0.6-0.8,1.1-1.3,1.7c0,0,0.1,0,0.1,0c0.4,0,0.9,0,1.3,0c0.1,0,0.1,0,0.1-0.1c0.3-0.4,0.7-0.9,1-1.3c0.1-0.1,0.1-0.2,0.2-0.2c0-0.1,0.1-0.1,0.2-0.1c0.9,0,1.7,0,2.6,0C24.8,16.6,25,16.6,25.2,16.7C25.2,16.6,25.2,16.7,25.2,16.7z"/>
	<path class="icon--highlight" d="M5.2,18.2C5.3,18.1,5.3,18,5.4,18c0.2-0.3,0.4-0.6,0.7-0.9c0.1-0.1,0.2-0.2,0.3-0.4c0,0,0.1,0,0.1,0c0,0,0,0,0.1,0c2.1,0,4.3,0,6.4,0c0.3,0,0.7,0,1,0.2c0.3,0.1,0.5,0.3,0.7,0.6c0.2,0.3,0.2,0.5,0.2,0.8c0,0.1-0.1,0.3-0.1,0.4c-0.2,0.3-0.5,0.7-0.7,1c0,0.1-0.1,0.1-0.1,0.1c-0.4,0-0.9,0-1.3,0c-0.4,0-0.8,0-1.2,0c-0.1,0-0.2,0-0.2,0c-0.1,0-0.1-0.1-0.1-0.2c0.1-0.1,0.2-0.2,0.2-0.3c0.2-0.2,0.3-0.4,0.5-0.6c0.1-0.2,0-0.2-0.1-0.2c-0.1,0-0.1,0-0.2,0c-2,0-4,0-6.1,0C5.3,18.2,5.2,18.2,5.2,18.2z"/>
	<path class="icon--highlight" d="M13.6,20c-0.1,0.1-0.1,0.1-0.1,0.2c-0.3,0.3-0.6,0.6-0.9,0.9c-0.2,0.2-0.5,0.3-0.8,0.4c-0.3,0.1-0.6,0.2-0.9,0.2c-0.3,0-0.5,0-0.8,0c-1.7,0-3.4,0-5.2,0c0,0-0.1,0-0.1,0c0-0.1,0.1-0.1,0.1-0.2c0.5-0.7,1-1.3,1.5-2C6.5,19.3,6.7,19,7,18.7c0.1-0.1,0.1-0.1,0.2-0.1c0.9,0,1.8,0,2.7,0c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.1,0.2c0,0.1-0.1,0.1-0.1,0.2c-0.2,0.3-0.4,0.5-0.6,0.8c0,0.1-0.1,0.1,0,0.2c0,0,0.1,0.1,0.2,0.1c0.1,0,0.2,0,0.2,0c1.2,0,2.4,0,3.6,0C13.5,20,13.5,20,13.6,20z"/>
	<path class="icon--highlight" d="M31.3,20c0,0.1-0.1,0.1-0.1,0.2c-0.4,0.5-0.7,1-1.1,1.5c0,0.1-0.1,0.1-0.1,0.1c-1.2,0-2.5,0-3.7,0c-0.5,0-1,0-1.6,0c-0.3,0-0.6,0-0.8-0.1c-0.1-0.1-0.3-0.1-0.4-0.2c-0.2-0.2-0.2-0.5,0-0.8c0.1-0.2,0.2-0.3,0.3-0.5c0-0.1,0.1-0.1,0.1-0.1c2.3,0,4.6,0,6.9,0c0.1,0,0.3,0,0.4,0C31.2,20,31.3,20,31.3,20z"/>
	<path class="icon--highlight" d="M24.1,19.6c0-0.1,0.1-0.1,0.1-0.2c0.3-0.3,0.5-0.7,0.8-1c0.3-0.4,0.5-0.7,0.8-1.1c0.2-0.2,0.3-0.4,0.5-0.7c0,0,0.1-0.1,0.1-0.1c1.1,0,2.2,0,3.3,0c0,0,0.1,0,0.1,0c-0.1,0.1-0.1,0.2-0.2,0.3c-0.4,0.5-0.8,1.1-1.2,1.6c-0.3,0.3-0.5,0.7-0.8,1c-0.1,0.1-0.1,0.1-0.3,0.1c-1.1,0-2.1,0-3.2,0C24.2,19.7,24.1,19.7,24.1,19.6C24.1,19.7,24.1,19.7,24.1,19.6z"/>
	<path class="icon--highlight" d="M22.7,20.1c-0.1,0.1-0.2,0.2-0.2,0.3c-0.3,0.4-0.6,0.9-1,1.3c0,0-0.1,0.1-0.1,0.1c-1,0-2.1,0-3.1,0c0,0,0,0-0.1,0c0,0,0-0.1,0.1-0.1c0.2-0.3,0.5-0.7,0.8-1c0.1-0.2,0.3-0.4,0.4-0.6c0,0,0.1,0,0.1,0C20.5,20,21.6,20,22.7,20.1C22.7,20,22.7,20,22.7,20.1C22.7,20,22.7,20,22.7,20.1z"/>
	<path class="icon--highlight" d="M18,20c0,0.1-0.1,0.1-0.1,0.1c-0.3,0.4-0.6,0.8-0.9,1.2c-0.1,0.1-0.1,0.2-0.2,0.3c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c-1,0-2,0-3,0c0,0-0.1,0-0.1,0c0,0,0-0.1,0-0.1c0.3-0.4,0.6-0.8,0.8-1.1c0.1-0.1,0.2-0.3,0.3-0.4c0-0.1,0.1-0.1,0.1-0.1c1,0,2,0,3,0C17.8,20,17.9,20,18,20z"/>
	<path class="icon--highlight" d="M5.4,20c-0.1,0.1-0.2,0.2-0.3,0.4c0,0,0,0-0.1,0c-1.7,0-3.3,0-5,0c-0.1,0-0.1,0-0.1-0.1c0-0.1,0-0.2,0-0.2C0,20,0,20,0.1,20c0,0,0,0,0.1,0c1.7,0,3.4,0,5.1,0C5.3,20,5.3,20,5.4,20z"/>
	<path class="icon--highlight" d="M4.9,20.7c-0.1,0.1-0.2,0.2-0.2,0.3c0,0,0,0-0.1,0c0,0-0.1,0-0.1,0c-1.4,0-2.9,0-4.3,0C0,21.1,0,21.1,0,21c0-0.1,0-0.1,0-0.2c0-0.1,0-0.1,0.1-0.1c0,0,0,0,0,0c1.5,0,3.1,0,4.6,0C4.8,20.7,4.8,20.7,4.9,20.7z"/>
	<path class="icon--highlight" d="M4.4,21.4c-0.1,0.1-0.2,0.2-0.3,0.4c0,0-0.1,0-0.1,0c-0.5,0-1,0-1.6,0c-0.8,0-1.6,0-2.4,0c0,0-0.1,0-0.1,0c0-0.1,0-0.2,0-0.3c0,0,0,0,0,0c0,0,0.1,0,0.1,0c1.4,0,2.8,0,4.1,0C4.3,21.4,4.3,21.4,4.4,21.4z"/>
</svg>
{{/[../../helpers/eq]}}

{{#[../../helpers/eq] name 'usps'}}
		<svg class="icon-usps" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve">
	<path class="icon--highlight" d="M35.9,7.4c-0.1,0.3-0.1,0.6-0.2,0.9c-0.6,2.6-1.1,5.3-1.6,7.9c-0.7,3.4-1.4,6.8-2.1,10.2c-0.2,0.9-0.4,1.7-0.5,2.6c-0.1,0.3,0,0.3-0.3,0.3c-7.4,0-14.9,0-22.3,0c-2,0-4,0-6,0c-0.1,0-0.1,0-0.2,0c0,0,0,0,0,0c0.2-0.1,0.5-0.2,0.7-0.3c3.2-1.2,6.4-2.5,9.5-3.7c3.1-1.2,6.1-2.4,9.2-3.6c1.8-0.7,3.5-1.4,5.3-2.1c0.1,0,0.2-0.1,0.3-0.2c0.3-0.2,0.7-0.4,1.1-0.4c0.3,0,0.6-0.1,0.9-0.3c1.3-0.8,1.9-1.9,2-3.4c0-0.3,0-0.7-0.2-1c-0.1-0.3-0.4-0.5-0.7-0.5c-0.9-0.1-1.7-0.1-2.6,0c0,0,0,0-0.1,0c-0.2,0-0.4,0-0.6-0.2c-0.2-0.3-0.5-0.5-0.8-0.7c-0.7-0.4-1.4-0.5-2.1-0.7c-1.9-0.5-3.9-1-5.8-1.4c-4-1-8.1-2-12.1-3c-0.7-0.2-1.3-0.3-2-0.5c0.1,0,0.2,0,0.3,0c10.2,0,20.4,0,30.6,0C35.8,7.3,35.9,7.3,35.9,7.4C35.9,7.3,35.9,7.3,35.9,7.4z"/>
	<path class="icon--base" d="M13.7,14.4c0.7,2,1.4,4,2.2,6c0.1,0,0.1,0,0.1,0c1.5-0.7,3-1.3,4.5-1.7c2.4-0.7,4.9-1.4,7.3-1.8c0.2,0,0.4-0.1,0.6-0.1c0.3,0,0.5,0.1,0.6,0.3c0.1,0.3-0.1,0.5-0.4,0.5c-0.3,0-0.6,0.1-0.9,0.1c-1.6,0.3-3.2,0.7-4.7,1.2c-3.4,1.1-6.7,2.4-9.9,3.9c-2.8,1.3-5.5,2.6-8.2,3.9c-1.6,0.8-3.1,1.6-4.7,2.4c-0.1,0.1-0.2,0.1-0.4,0.2c0.1-0.3,0.1-0.5,0.1-0.7c0.4-2,0.8-4,1.3-6c0.7-3.1,1.3-6.3,2-9.4c0-0.2,0.1-0.3,0.3-0.3c0.6,0,1.2-0.1,1.9-0.1c2.2,0,4.5,0,6.7,0c2.1,0,4.1,0,6.2,0.1c1.6,0,3.2,0.1,4.8,0.2c1,0.1,2,0.2,3,0.6c0.4,0.2,0.8,0.4,1.1,0.8c0,0.1,0.1,0.1,0.2,0.1c0.8,0,1.6,0,2.4,0c0.2,0,0.5,0,0.7,0.1c0.3,0.1,0.4,0.3,0.4,0.5c0,0.2,0,0.4-0.1,0.5c-0.2,0.6-0.4,1.2-0.8,1.8c0,0.1-0.1,0.1-0.2,0.2c-0.1,0-0.2,0-0.2-0.1c0-0.1,0-0.2,0-0.2c0.1-0.3,0.2-0.7,0.3-1c0-0.2,0-0.4,0-0.6c0-0.1-0.1-0.2-0.2-0.2c-0.2,0-0.3,0-0.5,0c-0.9,0-1.8,0.1-2.7,0.2c-0.7,0.1-1.4,0.2-2.2,0.2c-0.2,0-0.3,0-0.5-0.1c-0.2-0.1-0.2-0.2,0-0.3c0.1,0,0.1,0,0.2-0.1c0.5-0.1,0.9-0.3,1.4-0.4c0.1,0,0.3-0.2,0.3-0.3c0.1-0.1,0.1-0.2-0.1-0.2c-0.1,0-0.1,0-0.2,0c-3.9,0-7.9,0-11.8,0C13.9,14.4,13.9,14.4,13.7,14.4z"/>
</svg>
{{/[../../helpers/eq]}}

{{#[../../helpers/eq] name 'ups'}}
		<svg class="icon-ups" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve">
	<path class="icon--base" d="M34,12.8c0,2.9,0.1,5.8,0,8.6c-0.1,4-2,7.1-5.4,9.2c-3,1.8-6.2,3.2-9.4,4.6c-0.2,0.1-0.4,0.1-0.6,0c-3.2-1.4-6.5-2.8-9.5-4.7c-3.6-2.2-5.3-5.4-5.4-9.5c-0.1-5.8,0-11.6,0-17.3c0-0.3,0.1-0.5,0.4-0.6c2.8-1.4,5.9-2.2,9-2.7c2.9-0.4,5.9-0.5,8.9-0.3c4.1,0.3,8,1.2,11.7,3C33.9,3.2,34,3.4,34,3.8C34,6.8,34,9.8,34,12.8C34,12.8,34,12.8,34,12.8zM33.6,12.6c0-2.8,0-5.7,0-8.5c0-0.5-0.2-0.7-0.6-0.9C30,1.8,26.7,1,23.4,0.6c-3.3-0.4-6.7-0.4-10,0.1c-3.1,0.4-6.2,1.2-9,2.6C4.1,3.5,3.9,3.7,3.9,4c0,5.6,0,11.2,0,16.8c0,4.2,1.7,7.5,5.4,9.5c3,1.6,6.1,3,9.1,4.5c0.2,0.1,0.5,0,0.7-0.1c2.3-1.1,4.6-2.1,6.9-3.2c1.5-0.8,3-1.6,4.3-2.8c2.2-2.1,3.2-4.8,3.2-7.9C33.6,18.2,33.6,15.4,33.6,12.6z"/>
	<path class="icon--highlight" d="M33.6,12.6c0,2.8,0,5.5,0,8.3c0,3-1,5.7-3.2,7.9c-1.2,1.2-2.7,2-4.3,2.8c-2.3,1.1-4.6,2.2-6.9,3.2c-0.2,0.1-0.5,0.2-0.7,0.1c-3-1.5-6.1-2.8-9.1-4.5C5.7,28.4,4,25,4,20.9C3.9,15.2,4,9.6,3.9,4c0-0.3,0.1-0.5,0.4-0.7c2.8-1.4,5.9-2.2,9-2.6c3.3-0.5,6.7-0.5,10-0.1C26.7,1,30,1.8,33.1,3.3c0.4,0.2,0.6,0.4,0.6,0.9C33.6,7,33.6,9.8,33.6,12.6zM32.5,3.8c-0.7-0.1-1.4-0.1-2-0.1c-4.4-0.3-8.8-0.2-13.1,0.9c-4.4,1-8.3,3-11.8,5.9c-0.3,0.3-0.5,0.6-0.5,1.1c0,3,0,6,0,9.1c0,3.9,1.4,7,4.9,8.9c2.8,1.5,5.7,2.8,8.5,4.2c0.2,0.1,0.4,0.1,0.6,0c2.6-1.3,5.3-2.5,7.9-3.8c3.7-1.9,5.5-5.1,5.5-9.3c0-5.4,0-10.7,0-16.1C32.5,4.2,32.5,4,32.5,3.8z"/>
	<path class="icon--base" d="M32.5,3.8c0,0.2,0,0.5,0,0.7c0,5.4,0,10.7,0,16.1c0,4.2-1.7,7.3-5.5,9.3c-2.6,1.3-5.3,2.6-7.9,3.8c-0.2,0.1-0.4,0.1-0.6,0c-2.9-1.4-5.8-2.7-8.5-4.2c-3.5-1.9-4.9-5-4.9-8.9c0-3,0-6,0-9.1c0-0.5,0.2-0.8,0.5-1.1C9,7.5,13,5.6,17.4,4.5c4.3-1,8.7-1.2,13.1-0.9C31.1,3.7,31.8,3.7,32.5,3.8z M18.2,23.7c0.1,0,0.2,0,0.2,0c2.5,0.5,4.3-0.9,5-3.1c0.6-1.9,0.7-3.9,0.1-5.8c-0.4-1.5-1.3-2.6-2.8-3.1c-1.7-0.5-3.3-0.3-4.8,0.4c-0.3,0.2-0.3,0.4-0.3,0.7c0,5.2,0,10.4,0,15.6c0,0.2,0,0.4,0,0.5c0.9,0,1.7,0,2.5,0C18.2,27.2,18.2,25.5,18.2,23.7z M11.7,11.7c0,0.3,0,0.6,0,0.9c0,2.8,0,5.6,0,8.3c0,0.2-0.1,0.5-0.3,0.6c-1.2,0.6-2.2,0-2.3-1.4c0-0.2,0-0.3,0-0.5c0-2.4,0-4.9,0-7.3c0-0.2,0-0.4,0-0.6c-0.9,0-1.7,0-2.5,0c0,0.2,0,0.4,0,0.6c0,1.8,0,3.6,0,5.5c0,0.9,0,1.9,0,2.8c0.1,1.6,1,2.8,2.5,3.1c1.7,0.4,3.3,0.2,4.8-0.6c0.4-0.2,0.5-0.4,0.5-0.8c0-3.3,0-6.7,0-10c0-0.2,0-0.4,0-0.6C13.4,11.7,12.6,11.7,11.7,11.7z M31,14.4c0-0.7,0-1.2,0-1.7c0-0.3-0.1-0.5-0.4-0.7c-0.9-0.5-1.8-0.6-2.8-0.5c-1.9,0.2-3.3,1.7-3.1,3.7c0.1,1.3,0.8,2.1,1.8,2.8c0.6,0.4,1.2,0.7,1.7,1.1c0.6,0.5,0.8,1.2,0.5,1.9c-0.2,0.6-0.9,0.9-1.7,0.8c-0.8-0.2-1.5-0.5-2.3-0.7c0,0.5,0,1.1,0,1.7c0,0.2,0.2,0.4,0.3,0.5c1,0.5,2.1,0.7,3.2,0.6c1.7-0.2,2.9-1.5,3-3.2c0.1-1.5-0.5-2.6-1.7-3.5c-0.7-0.5-1.4-0.8-2-1.3c-0.6-0.4-0.7-1-0.5-1.6c0.2-0.5,0.6-0.8,1.3-0.8C29.4,13.4,30.2,13.8,31,14.4z"/>
	<path class="icon--highlight" d="M18.2,23.7c0,1.8,0,3.5,0,5.3c-0.9,0-1.7,0-2.5,0c0-0.2,0-0.4,0-0.5c0-5.2,0-10.4,0-15.6c0-0.3,0-0.5,0.3-0.7c1.6-0.7,3.2-1,4.8-0.4c1.5,0.5,2.4,1.6,2.8,3.1c0.6,1.9,0.5,3.9-0.1,5.8c-0.7,2.2-2.5,3.6-5,3.1C18.4,23.7,18.4,23.7,18.2,23.7z M18.3,17.6c0,1.2,0,2.4,0,3.6c0,0.4,0.1,0.5,0.5,0.5c1.1,0.1,1.9-0.2,2.2-1.3c0.6-1.9,0.6-3.8,0-5.6c-0.3-1-1.2-1.4-2.3-1.2c-0.3,0.1-0.4,0.2-0.4,0.6C18.3,15.2,18.3,16.4,18.3,17.6z"/>
	<path class="icon--highlight" d="M11.7,11.7c0.9,0,1.7,0,2.5,0c0,0.2,0,0.4,0,0.6c0,3.3,0,6.7,0,10c0,0.4-0.1,0.6-0.5,0.8c-1.5,0.7-3.2,0.9-4.8,0.6c-1.4-0.3-2.3-1.5-2.5-3.1c-0.1-0.9,0-1.9,0-2.8c0-1.8,0-3.6,0-5.5c0-0.2,0-0.4,0-0.6c0.9,0,1.7,0,2.5,0c0,0.2,0,0.4,0,0.6c0,2.4,0,4.9,0,7.3c0,0.2,0,0.3,0,0.5c0.1,1.4,1.1,1.9,2.3,1.4c0.2-0.1,0.3-0.4,0.3-0.6c0-2.8,0-5.6,0-8.3C11.7,12.3,11.7,12,11.7,11.7z"/>
	<path class="icon--highlight" d="M31,14.4c-0.8-0.6-1.6-1-2.5-1c-0.6,0-1.1,0.3-1.3,0.8c-0.2,0.6-0.1,1.2,0.5,1.6c0.6,0.5,1.4,0.8,2,1.3c1.2,0.8,1.8,2,1.7,3.5c-0.1,1.7-1.4,3-3,3.2c-1.1,0.1-2.2,0-3.2-0.6c-0.2-0.1-0.3-0.3-0.3-0.5c0-0.6,0-1.2,0-1.7c0.8,0.3,1.5,0.6,2.3,0.7c0.8,0.2,1.4-0.2,1.7-0.8c0.3-0.7,0.1-1.4-0.5-1.9c-0.6-0.4-1.2-0.8-1.7-1.1c-1-0.7-1.7-1.5-1.8-2.8c-0.1-1.9,1.2-3.5,3.1-3.7c1-0.1,1.9,0.1,2.8,0.5c0.3,0.1,0.4,0.3,0.4,0.7C31,13.2,31,13.7,31,14.4z"/>
	<path class="icon--base" d="M18.3,17.6c0-1.2,0-2.3,0-3.5c0-0.3,0.1-0.5,0.4-0.6c1.1-0.2,2,0.2,2.3,1.2c0.6,1.9,0.6,3.8,0,5.6c-0.4,1.1-1.1,1.5-2.2,1.3c-0.3,0-0.5-0.2-0.5-0.5C18.3,20,18.3,18.8,18.3,17.6z"/>
</svg>
{{/[../../helpers/eq]}}

{{#[../../helpers/eq] name 'truck'}}
		<svg class="icon-truck" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve">
	<g class="-is-sent">
		<path fill="#939799" d="M34.4,15.9c-1.3-1.7-3.2-2.8-4.8-3.4c-0.8-0.3-1.8-0.5-2.6-0.5h-0.3c-0.7,0-0.5,0.6-0.5,1.3v9.4c0,0.7-0.2,2.2,0.5,2.2h6.8c0.7,0,1.7-1.5,1.7-2.2v-5.1C35.2,17.1,34.9,16.5,34.4,15.9z"/>
		<circle fill="#5D5D5D" stroke="#FFFFFF" stroke-miterlimit="10" cx="30.2" cy="24.2" r="2.4"/>
		<path fill="#B4B7B7" d="M22.4,9H11.3c-1.1,0-2,0.9-2,2v11.2c0,1.1,0.9,2,2,2h11.2c1.1,0,2-0.9,2-2V11C24.4,9.9,23.5,9,22.4,9z"/>
		<circle fill="#5D5D5D" stroke="#FFFFFF" stroke-miterlimit="10" cx="16.8" cy="24.2" r="2.4"/>
		<path fill="#FFFFFF" d="M32.5,16.4c-1.1-2-2.8-2.6-4-2.6h-0.1c-0.5,0-1,0.4-1,1v1.5c0,0.3,0.3,0.6,0.6,0.6h4.2C32.6,16.9,32.7,16.6,32.5,16.4L32.5,16.4z"/>
		<line fill="none" stroke="#939799" stroke-linecap="square" stroke-miterlimit="10" x1="7.2" y1="12.6" x2="1.2" y2="12.6"/>
		<line fill="none" stroke="#939799" stroke-linecap="square" stroke-miterlimit="10" x1="7.2" y1="15.6" x2="3.2" y2="15.6"/>
		<line fill="none" stroke="#939799" stroke-linecap="square" stroke-miterlimit="10" x1="7.2" y1="18.6" x2="5.2" y2="18.6"/>
	</g>
	<g class="-is-return">
		<line fill="none" stroke="#939799" stroke-linecap="square" stroke-miterlimit="10" x1="25" y1="3.7" x2="33" y2="3.7"/>
		<line fill="none" stroke="#939799" stroke-linecap="square" stroke-miterlimit="10" x1="25" y1="6.7" x2="31" y2="6.7"/>
		<line fill="none" stroke="#939799" stroke-linecap="square" stroke-miterlimit="10" x1="25" y1="9.7" x2="27" y2="9.7"/>
		<path fill="#939799" d="M0,9.3v5.1c0,0.7,0.9,1.8,1.7,1.8h6.8c0.7,0,0.5-1.1,0.5-1.8V5c0-0.7,0.2-1.8-0.5-1.8H8.2c-0.9,0-1.8,0.4-2.6,0.7C4,4.4,2.1,5.7,0.8,7.5C0.4,8,0,8.6,0,9.3z"/>
		<circle fill="#5D5D5D" stroke="#FFFFFF" stroke-miterlimit="10" cx="5" cy="15.7" r="2.4"/>
		<path fill="#B4B7B7" stroke="#FFFFFF" stroke-miterlimit="10" d="M9.8,2.5v11.2c0,1.1,0.9,2,2,2H23c1.1,0,2-0.9,2-2V2.5c0-1.1-0.9-2-2-2H11.8C10.7,0.5,9.8,1.4,9.8,2.5z"/>
		<circle fill="#5D5D5D" stroke="#FFFFFF" stroke-miterlimit="10" cx="17.4" cy="15.7" r="2.4"/>
		<path fill="#FFFFFF" d="M2.7,7.9c1.1-2,2.8-2.6,4-2.6h0.1c0.5,0,1,0.4,1,1v1.5c0,0.3-0.3,0.6-0.6,0.6H3C2.7,8.4,2.5,8.1,2.7,7.9L2.7,7.9z"/>
	</g>
</svg>
{{/[../../helpers/eq]}}

{{#if active}}</span>{{/if}}
