.list-page {
	height: 100%;

	.nav {
		h3 {
			text-align: left;
		}
	}

	background-color: @dark-gray;

	.content {
		padding: 0 @medium-space;
		margin-top: 0.5em;
		background-color: @dark-gray;
		overflow: hidden;
	}
}