<div class="cart-modal">
	<div class="selected-workers">
		<ul class="unstyled"></ul>
		<button class="button remove-all">Remove All Talents</button>
	</div>

	<div class="results-meta row">
		<div class="text-center">
			<div class="pagination">
				<ul>
					<li class="prev"><a>&laquo; Previous</a></li>
					<li class="status"><span>Page <span class="current_page">1</span> of <span class="num_pages">1</span></span></li>
					<li class="next"><a>Next &raquo;</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
