<div>
	{{#[../../helpers/qualityValueNotApplicable] professionalismValue}}
		<div class="{{professionalismCode}}">
			{{professionalismValue}}
		</div>
	{{/[../../helpers/qualityValueNotApplicable]}}
</div>
