<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	#parse("template/email/partials/invoice-head.vm")
<body>

<header>
	<table width="100%" style="padding-top:20px;">
		<tr>
			<td width="50%"><img src="${logoURL}"/></td>
			<td width="50%" style="text-align: right;">
				<div>
					<h3><br/>Bill to: ${template.invoice.company.effectiveName}
						#set( $rawAddress = ${template.companyFormattedAddress} )
						${rawAddress}
					</h3>
				</div>
			</td>
		</tr>
	</table>

	<h3 style="color:#000000;">
		WorkMarket Invoice
		<br/>
	</h3>

</header>
<br/>
<br/>
<hr/>
<table class="header">
	<tr>
		<th>Issue Date:</th>
		<td>$date.format('MM/dd/yyyy', ${template.invoice.createdOn})</td>
	</tr>
	<tr>
		<th>Due Date:</th>
		<td>$date.format('MM/dd/yyyy', ${template.invoice.dueDate})</td>
	</tr>
	<tr>
		<th>Invoice Number:</th>
		<td>${template.invoice.invoiceNumber}</td>
	</tr>
	<tr>
		<th>Amount Due:</th>
		<td>$number.currency(${template.invoice.balance})</td>
	</tr>
</table>
<hr/>


<h4 style="padding:10px 0px 5px 0px">Invoice Details</h4>
<table class="invoices">
	<thead>
	<tr>
		<th>Description</th>
		<th>Amount</th>
	</tr>
	</thead>
	<tbody>
		#foreach($lineItem in ${template.invoice.invoiceLineItems})
		<tr>
			<td>$lineItem.escapedDescription</td>
			<td>$number.currency($lineItem.amount)</td>
		</tr>
		#end

   		 <!-- render credit memo part within the invoice -->
		#if(${isCreditMemoIssuedForUnpaidInvoice})
        <tr>
            <td>${creditMemo.description}</td>
            <td>-$number.currency(${creditMemo.balance})</td>
        </tr>
		#end
	<tr>
		<td><h3>Total</h3></td>
		#if(${isCreditMemoIssuedForUnpaidInvoice})
            <td><h3>$number.currency($math.sub(${creditMemo.balance}, ${template.invoice.balance}))</h3></td>
		#else
            <td><h3>$number.currency(${template.invoice.balance})</h3></td>
		#end
	</tr>
	</tbody>
</table>

	#parse("template/email/partials/invoice-footer.vm")

</body>
</html>