{
  "swagger" : "2.0",
  "info" : {
    "description" : "Worker and Employer APIs",
    "version" : "v2",
    "title" : "Swagger spec for Work Market API v2",
    "termsOfService" : "https://www.workmarket.com/tos",
    "contact" : {
      "name" : "Work Market API Team",
      "url" : "https://developer.workmarket.com",
      "email" : "api@workmarket.com"
    },
    "license" : {
      "name" : "Company Licence",
      "url" : "https://developer.workmarket.com/licenses/LICENSE-2.0.html"
    }
  },
  "host" : "www.workmarket.com",
  "basePath" : "/",
  "tags" : [ {
    "name" : "Account"
  }, {
    "name" : "Accounts"
  }, {
    "name" : "Assignments"
  }, {
    "name" : "Clients"
  }, {
    "name" : "Company Profile"
  }, {
    "name" : "Custom Fields"
  }, {
    "name" : "Documents"
  }, {
    "name" : "Esignature"
  }, {
    "name" : "Followers"
  }, {
    "name" : "Funds"
  }, {
    "name" : "Labels"
  }, {
    "name" : "OrgStructure"
  }, {
    "name" : "PersonaMode"
  }, {
    "name" : "Profile"
  }, {
    "name" : "Projects"
  }, {
    "name" : "Qualitifications"
  }, {
    "name" : "Requirements"
  }, {
    "name" : "Search"
  }, {
    "name" : "Surveys"
  }, {
    "name" : "Tax"
  }, {
    "name" : "Uploads"
  }, {
    "name" : "User Settings"
  }, {
    "name" : "Worker Search"
  }, {
    "name" : "assignments"
  }, {
    "name" : "constants"
  }, {
    "name" : "groups"
  }, {
    "name" : "profile"
  }, {
    "name" : "services"
  }, {
    "name" : "tax"
  }, {
    "name" : "worker"
  }, {
    "name" : "worker services"
  } ],
  "schemes" : [ "https" ],
  "paths" : {
    "/employer/v2/assignments/templates" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment template for a given list of fields",
        "description" : "",
        "operationId" : "getAssignmentTemplatesByFields",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "fields",
          "in" : "query",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create a new assignment template",
        "description" : "",
        "operationId" : "postCreateAssignmentTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Template"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Template"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/v2/assignments/templates/{id}" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment template",
        "description" : "",
        "operationId" : "getAssignmentTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Template"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create an assignment template",
        "description" : "",
        "operationId" : "postCreateAssignmentTemplateById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Template"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Template"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment template",
        "description" : "",
        "operationId" : "putUpdateAssignmentTemplate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Template"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Template"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/v2/settings/users" : {
      "get" : {
        "tags" : [ "User Settings" ],
        "summary" : "Get all users",
        "description" : "",
        "operationId" : "getUsers",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "query",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "",
          "in" : "query",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "object"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User Settings" ],
        "summary" : "Save user",
        "description" : "",
        "operationId" : "postCreateUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Create User"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/v2/settings/users/{userNumber}" : {
      "get" : {
        "tags" : [ "User Settings" ],
        "summary" : "Get user",
        "description" : "",
        "operationId" : "getUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/User"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "User Settings" ],
        "summary" : "Update user",
        "description" : "",
        "operationId" : "postUpdateUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Builder"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/v2/settings/users/{userNumber}/deactivation" : {
      "put" : {
        "tags" : [ "User Settings" ],
        "summary" : "Deactivate user",
        "description" : "",
        "operationId" : "putDeactivateUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ReassignUserForm"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/employer/v2/settings/users/{userNumber}/verification" : {
      "get" : {
        "tags" : [ "User Settings" ],
        "summary" : "Verify user",
        "description" : "",
        "operationId" : "getVerifyUser",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "userNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "object",
                    "additionalProperties" : {
                      "type" : "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/assignments/list" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "List assignments (deprecated, please use /v2/assignments/search)",
        "description" : "",
        "operationId" : "listAssignments",
        "produces" : [ "application/json" ],
        "responses" : {
          "default" : {
            "description" : "successful operation"
          }
        },
        "deprecated" : true
      }
    },
    "/v2/assignments/search" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Search assignments",
        "description" : "",
        "operationId" : "searchAssignments",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentSearchResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/assignments/{workNumber}/custom_fields" : {
      "put" : {
        "tags" : [ "Custom Fields" ],
        "summary" : "Update multiple custom fields",
        "description" : "",
        "operationId" : "putUpdateBulkCustomFields",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CustomFieldsUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2xResponse"
            }
          }
        }
      }
    },
    "/v2/assignments/{workNumber}/custom_fields/{position}" : {
      "post" : {
        "tags" : [ "Custom Fields" ],
        "summary" : "Create custom fields",
        "description" : "",
        "operationId" : "postCreateCustomFields",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "position",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CustomFieldsUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2xResponse"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Custom Fields" ],
        "summary" : "Update a custom field group's custom fields by position",
        "description" : "",
        "operationId" : "putUpdateCustomFieldGroupByPosition",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "workNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "position",
          "in" : "path",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CustomFieldsUpdateRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2xResponse"
            }
          }
        }
      }
    },
    "/v2/confirm_account/{encryptedId}" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Confirm an email",
        "description" : "",
        "operationId" : "getConfirmAccount",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Your account has been confirmed.",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/EmptyResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "The user you are trying to confirm does not exist."
          },
          "403" : {
            "description" : "The email address you are trying to confirm is no longer available."
          }
        }
      }
    },
    "/v2/constants/country_codes" : {
      "get" : {
        "tags" : [ "constants" ],
        "summary" : "Get the list of Country codes",
        "description" : "",
        "operationId" : "getCountryCodes",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "",
          "in" : "query",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "$ref" : "#/definitions/ApiV2Response"
            }
          }
        }
      }
    },
    "/v2/decision_flow/activate/{decisionFlowUuid}" : {
      "post" : {
        "tags" : [ "Profile" ],
        "summary" : "Activate a decision flow.",
        "description" : "",
        "operationId" : "activate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "decisionFlowUuid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Decision flow activated.",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Decision flow not found."
          },
          "500" : {
            "description" : "We encountered an error while activating the decision flow."
          }
        }
      }
    },
    "/v2/decision_flow/create" : {
      "post" : {
        "tags" : [ "Profile" ],
        "summary" : "Create a decision flow",
        "description" : "",
        "operationId" : "createDecisionFlow",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DecisionFlow"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DecisionFlow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/decision_flow/deactivate/{decisionFlowUuid}" : {
      "post" : {
        "tags" : [ "Profile" ],
        "summary" : "Deactivate a decision flow.",
        "description" : "",
        "operationId" : "deactivate",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "decisionFlowUuid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Decision flow deactivated.",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Decision flow not found."
          },
          "500" : {
            "description" : "We encountered an error while deactivating the decision flow."
          }
        }
      }
    },
    "/v2/decision_flow/decide" : {
      "post" : {
        "tags" : [ "Profile" ],
        "summary" : "Save a decision.",
        "description" : "",
        "operationId" : "decide",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Decision"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Decision saved.",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Decision not found."
          },
          "500" : {
            "description" : "We encountered an error while saving the decision."
          }
        }
      }
    },
    "/v2/decision_flow/list/companyNumber/{companyNumber}" : {
      "get" : {
        "tags" : [ "Profile" ],
        "summary" : "Get the decision flow template UUIDs for a company.",
        "description" : "",
        "operationId" : "getDecisionFlowUuidsByCompanyNumber",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "companyNumber",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Retrieved decision flow template UUIDs.",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Decision flow template UUIDs not found."
          },
          "500" : {
            "description" : "We encountered an error while getting decision flow template UUIDs."
          }
        }
      }
    },
    "/v2/decision_flow/update/{uuid}" : {
      "put" : {
        "tags" : [ "Profile" ],
        "summary" : "Update a decision flow by UUID",
        "description" : "",
        "operationId" : "updateDecisionFlow",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DecisionFlow"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DecisionFlow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/decision_flow/{uuid}" : {
      "get" : {
        "tags" : [ "Profile" ],
        "summary" : "Get a decision flow by UUID",
        "description" : "",
        "operationId" : "getDecisionFlow",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "uuid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DecisionFlow"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create a new assignment",
        "description" : "",
        "operationId" : "postCreateAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/add_client" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Add a new Client for any of user's assignments",
        "description" : "",
        "operationId" : "postCreateAssignmentClient",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ClientCompanyDTO"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/ClientCompanyDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/assignment_copy_quantities" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's copy quantity",
        "description" : "",
        "operationId" : "getAssignmentCopyQuantity",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "array",
                    "items" : {
                      "type" : "integer",
                      "format" : "int32"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/availableFunds" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get current user's available funds",
        "description" : "",
        "operationId" : "getUserAvailableFunds",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AvailableFunds"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/configuration" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get default assignment settings",
        "description" : "",
        "operationId" : "getAssignmentsConfiguration",
        "produces" : [ "application/json" ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update default assignment settings",
        "description" : "",
        "operationId" : "postAssignmentSettings",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update default assignment settings",
        "description" : "",
        "operationId" : "putUpdateAssignmentSettings",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create a draft assignment",
        "description" : "",
        "operationId" : "postAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/multiple" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create multiple draft assignments (copies)",
        "description" : "",
        "operationId" : "postBulkDraftAssignments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        }, {
          "name" : "numberOfCopies",
          "in" : "query",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/validation_errors" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Validate a draft assignment",
        "description" : "",
        "operationId" : "postValidateAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/definitions/ApiBaseError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment details",
        "description" : "",
        "operationId" : "getAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update a draft assignment",
        "description" : "",
        "operationId" : "postUpdateAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update a draft assignment",
        "description" : "",
        "operationId" : "putUpdateAssignmentDraft",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/configuration" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment configuration details",
        "description" : "",
        "operationId" : "getAssignmentDraftConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment configuration details",
        "description" : "",
        "operationId" : "postAssignmentDraftConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment configuration details",
        "description" : "",
        "operationId" : "putAssignmentDraftConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/custom_field_groups" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment custom field groups",
        "description" : "",
        "operationId" : "getAssignmentDraftCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment custom field groups",
        "description" : "",
        "operationId" : "postAssignmentDraftCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/CustomFieldGroup"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment custom field groups",
        "description" : "",
        "operationId" : "putAssignmentDraftCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/CustomFieldGroup"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/deliverables_group" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get the deliverables associated with this assignment",
        "description" : "",
        "operationId" : "getAssignmentDraftDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update the deliverables associated with this assignment",
        "description" : "",
        "operationId" : "postAssignmentDraftDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliverablesGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update the deliverables associated with this assignment",
        "description" : "",
        "operationId" : "putAssignmentDraftDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliverablesGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/documents" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get the documents associated with this assignment ",
        "description" : "",
        "operationId" : "getAssignmentDraftDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update the documents associated with this assignment",
        "description" : "",
        "operationId" : "postAssignmentDraftDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Document"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update the documents associated with this assignment",
        "description" : "",
        "operationId" : "putAssignmentDraftDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Document"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/location" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment location details",
        "description" : "",
        "operationId" : "getAssignmentDraftLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment location details",
        "description" : "",
        "operationId" : "postAssignmentDraftLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Location"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment location details",
        "description" : "",
        "operationId" : "putAssignmentDraftLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Location"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/pricing" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment pricing details",
        "description" : "",
        "operationId" : "getAssignmentDraftPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Pricing"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment pricing details",
        "description" : "",
        "operationId" : "postAssignmentDraftPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Pricing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Pricing"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment pricing details",
        "description" : "",
        "operationId" : "putAssignmentDraftPricing",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Pricing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Pricing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/routing" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment routing details",
        "description" : "",
        "operationId" : "getAssignmentDraftRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Routing"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment routing details",
        "description" : "",
        "operationId" : "postAssignmentDraftRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Routing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Routing"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update assignment routing details",
        "description" : "",
        "operationId" : "putAssignmentDraftRouting",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Routing"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Routing"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/schedule" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment schedule",
        "description" : "",
        "operationId" : "getAssignmentDraftSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedule"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment schedule",
        "description" : "",
        "operationId" : "postAssignmentDraftSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Schedule"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedule"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment schedule",
        "description" : "",
        "operationId" : "putAssignmentDraftSchedule",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Schedule"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Schedule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/shipments" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment shipments",
        "description" : "",
        "operationId" : "getAssignmentDraftShipments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/ShipmentGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment shipments",
        "description" : "",
        "operationId" : "postAssignmentDraftShipments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ShipmentGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/ShipmentGroup"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment shipments",
        "description" : "",
        "operationId" : "putAssignmentDraftShipments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ShipmentGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/ShipmentGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/drafts/{id}/surveys" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment surveys",
        "description" : "",
        "operationId" : "getAssignmentDraftSurveys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Survey"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment surveys",
        "description" : "",
        "operationId" : "postAssignmentDraftSurveys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Survey"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Survey"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create/update assignment surveys",
        "description" : "",
        "operationId" : "putAssignmentDraftSurveys",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Survey"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Survey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/multiple" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create multiple new assignments (copies)",
        "description" : "",
        "operationId" : "postCreateBulkAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        }, {
          "name" : "numberOfCopies",
          "in" : "query",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/validation_errors" : {
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Validate an assignment",
        "description" : "",
        "operationId" : "postValidateAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "type" : "array",
                    "items" : {
                      "$ref" : "#/definitions/ApiBaseError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get assignment by id",
        "description" : "",
        "operationId" : "getAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create an assignment",
        "description" : "All objects in the assignment graph will be affected",
        "operationId" : "postCreateAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment",
        "description" : "All objects in the assignment graph will be affected",
        "operationId" : "putUpdateAssignment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Assignment"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Assignment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/configuration" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's configuration details",
        "description" : "",
        "operationId" : "getAssignmentConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create an assignment's configuration details",
        "description" : "",
        "operationId" : "postCreateAssignmentConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's configuration details",
        "description" : "",
        "operationId" : "putUpdateAssignmentConfiguration",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/AssignmentConfiguration"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/AssignmentConfiguration"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/custom_field_groups" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's custom field groups",
        "description" : "",
        "operationId" : "getAssignmentCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create an assignment's custom field groups",
        "description" : "",
        "operationId" : "postCreateAssignmentCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/CustomFieldGroup"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's custom field groups",
        "description" : "",
        "operationId" : "putUpdateAssignmentCustomFieldGroups",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/CustomFieldGroup"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/CustomFieldGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/deliverables_group" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's deliverables",
        "description" : "",
        "operationId" : "getAssignmentDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create an assignment's deliverables",
        "description" : "",
        "operationId" : "postCreateAssignmentDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliverablesGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's deliverables",
        "description" : "",
        "operationId" : "putUpdateAssignmentDeliverablesGroup",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliverablesGroup"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/DeliverablesGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/documents" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's documents",
        "description" : "",
        "operationId" : "getAssignmentDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Create an assignment's documents",
        "description" : "",
        "operationId" : "postCreateAssignmentDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Document"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's documents",
        "description" : "",
        "operationId" : "putUpdateAssignmentDocuments",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/definitions/Document"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Document"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/employer/assignments/{id}/location" : {
      "get" : {
        "tags" : [ "Assignments" ],
        "summary" : "Get an assignment's location details",
        "description" : "",
        "operationId" : "getAssignmentLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/definitions/Location"
                  }
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Assignments" ],
        "summary" : "Update an assignment's location details",
        "description" : "",
        "operationId" : "postAssignmentLocation",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Location"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "type" : "object",
              "properties" : {
                "meta" : {
                  "$ref" : "#/definitions/meta"
                },
                "pagination" : {
                  "type" : "object"
                },
                "results" : {
                  "type" : "array",
                  "items" : {
[...]
