<div id="review_media_modal">
	<p id="mediadetail"></p>
	<div class="wm-modal--footer">
		<a id="download_link" class="button -primary wm-icon-download">Download</a>
		<button class="button" data-modal-close>Close</button>
		<a id="remove-media" class="button wm-icon-remove">Remove</a>
	</div>
</div>
