<p>In a few seconds, you should receive a text message that contains your mobile activation code. If you haven't received a code after a few minutes, please repeat <a href="javascript:void(0);" data-slide="prev">Step 1</a>.</p>

<label>
	Enter the code here
	<input type="text" name="code" id="code" maxlength="20" />
</label>

<button class="button" data-slide="prev">Back</button>
<button class="button -primary" data-slide="finish">Confirm</button>
