.wm-page-container {
	background-color: $off-white;
	&--main {
		width: 100%;
		padding-top: 3.65em;
		padding-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
	}

	.wm-page-header {
		display: flex;
		flex: 1 100%;
		padding: 0.75em 1em 0em;
		align-items: flex-start;
		h1 {
			flex-grow: 0;
			padding-right: 0.5em;
			font-weight: 100;
		}
		&--content {
			display: flex;
			flex-grow: 1;
			align-items: center;
			.button, .wm-label {
				margin-right: 0.25em;
			}
			ul {
				margin: 0;
				list-style: none;
				display: inline-flex;
				justify-content: flex-end;
				flex-grow: 1;
			}
			li {
				color: $light-grey;
				padding: 0 0.35em;
			}
		}
	}
}
