<form action="/filemanager/get_available_assets" id="attach_assets_to_assignment_form" method="POST">
	<table id="documents_list">
		<thead>
			<tr>
				<th>Select</th>
				<th>Name</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>

	<div class="wm-action-container">
		<button id="attach_assets_to_assignment" class="button">Add to Assignment</button>
	</div>
</form>
