<li class="document-uploader--document-list-item -clear -uploading">
	<div class="document-uploader--filename -placeholder qq-upload-file"></div>
	<div class="document-uploader--icon -stacked -placeholder">
		<div class="document-uploader--progress-bar">
			<div class="document-uploader--progress-bar-inner"></div>
		</div>
		<div class="document-uploader--uploading">Uploading...</div>
	</div>
	<div class="document-uploader--upload-size-parent qq-upload-size-parent" style="display: none">
		<span class="document-uploader--upload-size qq-upload-size"></span>
	</div>
	<div class="document-uploader--upload-cancel qq-upload-cancel" style="display: none;"></div>
	<div class="document-uploader--uploader-spinner-parent qq-upload-spinner-parent" style="display: none;">
		<div class="document-uploader--uploader-spinner qq-upload-spinner"></div>
	</div>
</li>
