src/main/webapp/media/scripts/webpack/addressbook/*
src/main/webapp/media/scripts/webpack/admin/*
src/main/webapp/media/scripts/webpack/approvals/*
src/main/webapp/media/scripts/webpack/assignmentcreation/*
src/main/webapp/media/scripts/webpack/assignments/*
src/main/webapp/media/scripts/webpack/betafeatures/*
src/main/webapp/media/scripts/webpack/bundles/*
src/main/webapp/media/scripts/webpack/campaigns/*
src/main/webapp/media/scripts/webpack/companypage/*
src/main/webapp/media/scripts/webpack/compliancerulesets/*
src/main/webapp/media/scripts/webpack/components/*
src/main/webapp/media/scripts/webpack/config/*
src/main/webapp/media/scripts/webpack/customfields/*
src/main/webapp/media/scripts/webpack/dashboard/*
src/main/webapp/media/scripts/webpack/dashboardmap/*
src/main/webapp/media/scripts/webpack/deliverables/*
src/main/webapp/media/scripts/webpack/dependencies/*
src/main/webapp/media/scripts/webpack/documents/*
src/main/webapp/media/scripts/webpack/followers/*
src/main/webapp/media/scripts/webpack/forums/*
src/main/webapp/media/scripts/webpack/funcs/*
src/main/webapp/media/scripts/webpack/grouprequirementsets/*
src/main/webapp/media/scripts/webpack/groups/*
src/main/webapp/media/scripts/webpack/helpers/*
src/main/webapp/media/scripts/webpack/invitations/*
src/main/webapp/media/scripts/webpack/lms/*
src/main/webapp/media/scripts/webpack/mainNav/*
src/main/webapp/media/scripts/webpack/mobileparts/*
src/main/webapp/media/scripts/webpack/noJsEntryPoint/*
src/main/webapp/media/scripts/webpack/onboarding/*
src/main/webapp/media/scripts/webpack/pagination/*
src/main/webapp/media/scripts/webpack/payments/*
src/main/webapp/media/scripts/webpack/plans/*
src/main/webapp/media/scripts/webpack/profile/*
src/main/webapp/media/scripts/webpack/profileedit/*
src/main/webapp/media/scripts/webpack/projects/*
src/main/webapp/media/scripts/webpack/public/*
src/main/webapp/media/scripts/webpack/ratings/*
src/main/webapp/media/scripts/webpack/realtime/*
src/main/webapp/media/scripts/webpack/recurrence/*
src/main/webapp/media/scripts/webpack/reports/*
src/main/webapp/media/scripts/webpack/requirementsets/*
src/main/webapp/media/scripts/webpack/routing/*
src/main/webapp/media/scripts/webpack/screening/*
src/main/webapp/media/scripts/webpack/search/*
src/main/webapp/media/scripts/webpack/shims/*
src/main/webapp/media/scripts/webpack/shipments/*
src/main/webapp/media/scripts/webpack/styleguide/*
src/main/webapp/media/scripts/webpack/surveys/*
src/main/webapp/media/scripts/webpack/talentpools/*
src/main/webapp/media/scripts/webpack/tax/*
src/main/webapp/media/scripts/webpack/templates/*
src/main/webapp/media/scripts/webpack/uploader/*
src/main/webapp/media/scripts/webpack/user/*
src/main/webapp/media/scripts/webpack/worker/*
src/main/webapp/media/scripts/webpack/workerservices/*
src/main/webapp/media/scripts/webpack/workerservicespromo/*
src/main/webapp/media/scripts/webpack/workfeed/*

