<div id="language_conflict_modal">
	<p>You just chose to login in {{locale}}. The language you originally selected for the WorkMarket platform is {{preferred}}.</p>
	<p>Going forward, how would you like to continue?</p>
	<div class="wm-action-container">
		<button class="cta-confirm-no button">{{locale}}</button>
		<button class="cta-confirm-yes button">{{preferred}}</button>
	</div>
</div>
