<table class="fast-funds--summary">
	<tbody>
		<tr>
			<td>Payment</td>
			<td>${{amountEarned}}</td>
		</tr>
		<tr>
			<td>Transaction Fee</td>
			<td>-${{fastFundsFee}}</td>
		</tr>
		<tr class="fast-funds--total">
			<td>Total Payment to you</td>
			<td>${{fastFundsTotal}}</td>
		</tr>
	</tbody>
</table>
