<p>Here is your FastFunds payment breakdown for the assignment <strong>{{workTitle}}{{#if companyName}} ({{companyName}}){{/if}}</strong>.</p>

{{> _fast-funds-breakdown-table }}

<hr>
<p>By clicking the 'Accept &amp; Get Paid Now' button, you agree to our <a href="https://www.workmarket.com/tos" target="_blank">Terms of Service</a>.</p>
