<div class="control-group">
	<label for="maximum-cancelled" class="control-label">Input the maximum acceptable cancelled assignments</label>
	<div class="controls">
		<input id="maximum-cancelled" name="maximum-cancelled" type="text" />
	</div>
</div>
