<div class="control-group">
	<label for="minimum-deliverable-percentage" class="control-label">Input the minimum deliverable on-time percentage</label>
	<div class="controls">
		<input id="minimum-deliverable-percentage" name="minimum-deliverable-percentage" type="text" />
	</div>
</div>
