<div class="control-group">
	<label for="minimum-percentage" class="control-label">Input the minimum on-time arrival percentage</label>
	<div class="controls">
		<input id="minimum-percentage" name="minimum-percentage" type="text" />
	</div>
</div>
