<div class="control-group">
	<label for="minimum-assignments" class="control-label">Input the minimum number of paid assignments</label>
	<div class="controls">
		<input id="minimum-assignments" name="minimum-assignments" type="text" />
	</div>
</div>
