<table>
	<thead>
	<tr>
		<th class="actions power">Active</th>
		<th class="name">Requirement Set Name</th>
		<th class="is-required">
			Required
			<span class="tooltipped tooltipped-n" aria-label="Required Requirement Sets are automatically added to every assignment."><i class="icon-question-sign"></i></span>
		</th>
		<th class="creator">Creator</th>
		<th class="actions">Edit</th>
		<th class="actions">Delete</th>
	</tr>
	</thead>
	<tbody></tbody>
</table>
