$grey: #8d9092;
$lightGrey: #cecece;
$offWhite: #f1f1f1;
$red: #fb0000;
$green: #5eb65f;

.reset-password {
	background: $offWhite;

	&__logo {
		display: block;
		max-width: 200px;
		margin: 40px auto;
	}

	&__errors {
		display: flex;
		align-items: top;
		width: 500px;
		margin: 0 auto 0.5em;
		box-sizing: border-box;
		border-radius: 3px;
		border: 2px solid $red;
		background-color: white;
		padding: 20px;
		font-size: 14px;

		&--hidden {
			display: none;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			margin: 1em 0;

			&:first-of-type {
				margin-top: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&__error-icon {
		margin-right: 20px;
		color: $red;
	}

	&__container {
		margin: 40px auto 0;
		width: 500px;
	}

	&__lock-icon {
		margin-right: 0.5em;
		color: $lightGrey;
	}

	&__heading {
		color: $grey;
	}

	&__copy {
		line-height: 1.4;

		p:first-of-type {
			margin-top: 0;
		}
	}

	&__form-field {
		width: 100%;
	}

	&__actions {
		text-align: right;
	}

	&__support {
		text-align: center;
		font-size: 14px;
		width: 500px;
		margin: 15px auto 40px;
	}

	.mdl-button.submit-button-enabled {
		background-color: $green;
	}
}
