.wm-icon{
	display: none;
	width: 75px;
	height: 75px;
	position: fixed;
	top: 40%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 9999;

	.wrapper {
		position: absolute;
		top: 0.5em;
		left: 0.5em;
 	}
	img {
		position: absolute;
	}
}
