<h1 style="font-family: Helvetica Neue, Arial, sans-serif; font-weight: 700; font-size: 20px; margin: 0px 0px 10px 0px; color: #fe8707; padding: 0px 20px 10px 20px; border-bottom: 1px solid #eee;">Message from WorkMarket</h1>

		<div style="width: 520px; padding: 20px 20px 20px 20px; font-family: Helvetica Neue, Arial, sans-serif; color: #444; font-size: 13px; line-height: 18px;">

			<p style="margin: 0px">
			Hello ${toUser.fullName},</p>

			#set( $rawMessage = $display.br($escape.html($template.message)) )
			<p>${rawMessage}</p>

		</div>
	</td>
</tr>

#parse("template/email/partials/do-not-reply.vm")