<h1 style="font-family: Helvetica Neue, Arial, sans-serif; font-weight: 700; font-size: 20px; margin: 0px 0px 10px 0px; color: #fe8707; padding: 0px 20px 10px 20px; border-bottom: 1px solid #eee;">
	Unconfirmed Assignment</h1>

<div style="width: 520px; padding: 20px 20px 20px 20px; font-family: Helvetica Neue, Arial, sans-serif; color: #444; font-size: 13px; line-height: 18px;">

	<p style="margin: 0px 0px 20px 0px">
		Hello ${toUser.fullName},<br/>
		<br/>
		${template.workResource.user.firstName} ${template.workResource.user.lastName} has not confirmed your assignment, <strong>${template.workTitle}</strong>
		(ID ${template.work.workNumber}).<br/>
	</p>

	<p style="margin: 0px 0px 20px 0px">
	<table width="100%" cellspacing="0" cellpadding="5" border="1"
	       style="border:1px solid #f5f5f5; font-family: Helvetica Neue, Arial, sans-serif; color: #000; font-size: 12px; padding:0; text-align:left; border-collapse: collapse; word-wrap:break-word;">
		<tbody>
		<tr>
			<td width="30%"><strong>Title</strong></td>
			<td>${template.workTitle}</td>
		</tr>
		<tr>
			<td width="30%"><strong>Location</strong></td>
			<td>${template.address}</td>
		</tr>
		<tr>
			<td width="30%"><strong>Date and Time</strong></td>
			<td>${template.date}</td>
		</tr>
			#if( ${template.workResource} )
			<tr>
				<td width="30%"><strong>Worker Name</strong></td>
				<td>${template.workResource.user.firstName} ${template.workResource.user.lastName}</td>
			</tr>
			<tr>
				<td width="30%"><strong>Resource Email</strong></td>
				<td>${template.workResource.user.email}</td>
			</tr>
				#if( ${template.workResource.user.profile.workPhone} )
				<tr>
					<td width="30%"><strong>Resource Phone</strong></td>
					<td>${template.workResource.user.profile.workPhone}</td>
				</tr>
				#end
			#end
			#foreach($field in ${template.customFields})
			<tr>
				<td width="30%"><strong>$field.workCustomField.name</strong></td>
				<td>$field.value</td>
			</tr>
			#end
		</tbody>
	</table>
	</p>
	<p style="margin: 0px 0px 20px 0px">
	<table cellspacing="0" cellpadding="0" border="0">
		<tbody>
		<tr>
			<td style="background-color: #fe8707; text-align: center; padding: 2px 7px 4px;">

				<a target="_blank"
				   style="font-weight: bold; font-size: 13px; font-family: Helvetica Neue, Arial, sans-serif; text-decoration: none; color: #ffffff; display: block; padding: 6px 7px 4px;"
				   href="${baseurl}/assignments/details/${template.work.workNumber}">View Assignment</a>
			</td>
		</tr>
		</tbody>
	</table>
	</p>
</div>
</td>
</tr>

#parse("template/email/partials/do-not-reply.vm")

#if (${template.encryptedWorkFollowId})
	#parse("template/email/partials/unfollow.vm")
#end