<h1 style="font-family: Helvetica Neue, Arial, sans-serif; font-weight: 700; font-size: 20px; margin: 0px 0px 10px 0px; color: #333333; padding: 0px 20px 10px 20px; border-bottom: 1px solid #eee;">${template.work.company.effectiveName}</h1>

<div style="width: 520px; padding: 20px 20px 20px 20px; font-family: Helvetica Neue, Arial, sans-serif; color: #444; font-size: 13px; line-height: 18px;">

	<p style="margin: 0px 0px 20px 0px">
		#if ($onBehalfOfUser && $onBehalfOfUser.firstName)
			Hello ${onBehalfOfUser.firstName},<br/>
		#else
			Hello ${toUser.firstName},<br/>
		#end
		<br/>
		${template.fullName} has an answer to your question about the assignment,
		<strong>${template.workTitle}</strong>
		<small>(${template.work.workNumber})</small>
		.<br/>
		<br/>
		#set( $rawQuestion = $display.br($escape.html($template.question.question)) )
		<strong>Question:</strong> ${rawQuestion}<br/>
		<br/>
		#set( $rawAnswer = $display.br($escape.html($template.question.answer)) )
		<strong>Answer:</strong> ${rawAnswer}<br/>
	</p>

	<hr style="border: 0; color: #ddd; background-color: #ddd; margin: 15px 0 20px 0; height: 1px">

	<p style="margin: 0px 0px 10px 0px">
		#foreach($field in ${template.customFields})
			<strong>$field.workCustomField.name:</strong> $field.value<br/>
		#end
	</p>

	<p style="margin: 0px 0px 20px 0px">
	<table cellspacing="0" cellpadding="0" border="0">
		<tbody>
		<tr>
			<td style="background-color: #fe8707; text-align: center; padding: 2px 7px 4px;">
				<a target="_blank"
				   style="font-weight: bold; font-size: 13px; font-family: Helvetica Neue, Arial, sans-serif; text-decoration: none; color: #ffffff; display: block; padding: 6px 7px 4px;"
				   href="${baseurl}/assignments/details/${template.work.workNumber}#questions">View Answer</a>
			</td>
		</tr>
		</tbody>
	</table>
	</p>
</div>

</td>
</tr>

#parse("template/email/partials/do-not-reply.vm")