<form action="/account/logoupload" method="post" id="form_upload_photo" accept-charset="utf-8" enctype="multipart/form-data">
	<p>You currently have no logo on file with Work Market. Please upload your company logo to use on this invitation and store for later. Your logo should be <strong>between 700kb and 2MB</strong> and <strong>at least 100px x 100px</strong>.</p>
	<a href="/account">Upload Logo on Account Page.</a>
</form>
