body, td, pre {
	color: #333;
	font: 13px/18px "Helvetica Neue", helvetica, arial, sans-serif;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #FFF;
	box-sizing: border-box;
	padding: 3px;
}

.wm-highlight {
	color: rgb(247, 150, 29);
}

/* MSIE specific */

* html body {
	scrollbar-3dlight-color: #F0F0EE;
	scrollbar-arrow-color: #676662;
	scrollbar-base-color: #F0F0EE;
	scrollbar-darkshadow-color: #DDDDDD;
	scrollbar-face-color: #E0E0DD;
	scrollbar-highlight-color: #F0F0EE;
	scrollbar-shadow-color: #F0F0EE;
	scrollbar-track-color: #F5F5F5;
}
